/* --------------------------------------------------
 * Comments - Over ride MailChimp Styles
-------------------------------------------------- */
.mcc-comments {
	background-color: #eee;
}
ol.mcc-commentlist {
	float: left;
	font-size: 13px;
	line-height: 18px;
	list-style-type: none;
	margin: 20px 0;
	padding: 0;
}
ol.mcc-commentlist li {
	clear: both;
	float: left;
}
ol.mcc-commentlist li .mcc-comment-inner {
	float: left;
	position: relative;
	width: 100%;
}
/* mcc-comment-header */
.mcc-comment-header {
	float: left;
	width: 120px;
}
.mcc-comment-header .mcc-comment-author {
	padding-bottom: 35px;
	position: relative;
	text-align: right;
}
.mcc-comment-header .mcc-comment-author .avatar {
	bottom: 0;
	position: absolute;
	right: 0;
}
.mcc-comment-header .mcc-comment-author .mcc-fn {
	font-style: normal;
}
.mcc-replied {
	display: none;
}
.mcc-comment-header .mcc-posted-when {
	bottom: 0;
	position: absolute;
	left: 140px;
}
/* mcc-comment-body */
.mcc-comment-body {
	border-top: 1px solid #ccc;
	padding-bottom: 18px;
	padding-right: 30px;
	margin-left: 140px;
	width: 480px;
}
.mcc-comment-body p {
	margin: 0 0 10px 0;
}
/* mcc-actions */
.mcc-actions {
	bottom: 0;
	display: none;
	position: absolute;
	right: 5px;
}
.mcc-comment-inner:hover .mcc-actions {
	display: block;
}

/* spacing between replies */
ol.mcc-commentlist li {
	padding: 0 0 18px 0;
}
ol.mcc-commentlist li .mcc-comment-inner .mcc-comment-header {
	padding-top: 19px; /* +1 since there is not border */
}
ol.mcc-commentlist li .mcc-comment-inner .mcc-comment-body {
	padding-top: 18px;
}

/* small fonts */
.mcc-posted-when,
.mcc-actions {
	color: #ccc;
	font-size: 12px;
	text-transform: lowercase;
}
.mcc-posted-when a,
.mcc-actions a {
	color: #ccc;
}

/* comment replies / nested */
ol.mcc-commentlist ul {
	float: left;
	margin: 0;
	width: 100%;
}
ol.mcc-commentlist ul li {
	list-style-type: none;
	margin: 0 0 0 25px;
	padding: 20px 0 0 0;
}
/* fixed width so short comments fill the space 
 * supporting as many levels as WP does 
 */
ul.children li .mcc-comment-body { /* nested 1 */
	width: 455px; /* + 30px right padding */
}
ul.children li ul li .mcc-comment-body { /* nested 2 */
	width: 430px;
}
ul.children li ul li ul li .mcc-comment-body { /* nested 3 */
	width: 405px;
}
ul.children li ul li ul li ul li .mcc-comment-body { /* nested 4 */
	width: 380px;
}
ul.children li ul li ul li ul li ul li .mcc-comment-body { /* nested 5 */
	width: 355px;
}
ul.children li ul li ul li ul li ul li ul li .mcc-comment-body { /* nested 6 */
	width: 330px;
}
ul.children li ul li ul li ul li ul li ul li ul li .mcc-comment-body { /* nested 7 */
	width: 305px;
}
ul.children li ul li ul li ul li ul li ul li ul li ul li .mcc-comment-body { /* nested 8 */
	width: 280px;
}
ul.children li ul li ul li ul li ul li ul li ul li ul li ul li .mcc-comment-body { /* nested 9 */
	width: 255px;
}
ul.children li ul li ul li ul li ul li ul li ul li ul li ul li ul li .mcc-comment-body { /* nested 10 */
	width: 230px;
}
/* icon sources */
.mcc-posted-from {
	background: #ddd url('../img/comment-icons-sprite.png') 0 -50px no-repeat;
	display: block;
	height: 16px;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-indent: -9999px;
	top: 20px;
	width: 16px;
}
.mcc-wordpress .mcc-posted-from {
	background-position: 0 -50px;
}
.mcc-twitter .mcc-posted-from {
	background-position: -25px -50px;
}
.mcc-facebook .mcc-posted-from {
	background-position: -50px -50px;
}
.mcc-ping .mcc-posted-from {
	background-position: -75 -50px;
}


/** Comment Form
 -------------------------------------------------- */
.mcc-input-row {
	clear: both;
	margin: 10px 0;
	width: 100%;
}
.mcc-input-row label {
	color: #666;
	float: left;
	font-size: 13px;
	margin-right: 20px;
	margin-top: 5px;
	text-align: right;
	width: 120px;
}
.mcc-input-text,
#mcc-sign-in-comment {
	border: 1px solid #ccc;
	background-color: #f8f8f8;
	padding: 4px;
}
.mcc-input-text {
	width: 338px;
}
#mcc-sign-in-comment {
	height: 100px;
	width: 470px;
}
.mcc-input-submit {
	margin-left: 140px;
}

/** Misc
 -------------------------------------------------- */
.notification {
	/* bg color set with colors */
	font-size: 11px;
	line-height: 20px;
	padding: 0 5px;
}