/* --------------------------------------------------
 * Content - Posts, Pages, Comments
-------------------------------------------------- */

/** Shared
 -------------------------------------------------- */

/** Header
 -------------------------------------------------- */
#header .container {
	height: 80px;
	position: relative;
}
#header h1 {
	bottom: 5px;
	left: 0;
	line-height: 1em;
	margin: 0;
	position: absolute;
}

/* Menu */
#header #nav-main ul,
#header .menu ul {
	font-family: Titillium600, Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 1em;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	top: 57px;
}
#header #nav-main li,
#header .menu li {
	display: inline-block;
	margin: 0 0 0 20px;
	padding: 0;
	position: relative;
}
#header #nav-main ul li a,
#header .menu ul li a {
	display: inline-block;
	height: 20px;
}

/* Sub Menu */
#header #nav-main ul ul,
#header .menu ul ul {
	/* bg and border colors set in header */
	box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
	display: none;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	left: -3px;
	padding: 5px 0 3px 0;
	position: absolute;
	text-transform: none;
	top: 23px;
	width: 160px;
	z-index: 99999;
}
#header #nav-main ul ul li,
#header .menu ul ul li {
	display: block;
	margin: 3px 0;
	padding: 0;
}
#header #nav-main ul ul a,
#header .menu ul ul a {
	display: block;
	font-weight: normal;
	height: auto;
	letter-spacing: 0;
	line-height: 1em;
	padding: 4px 10px;
}
#header #nav-main ul li:hover > ul,
#header .menu ul li:hover > ul {
	display: block;
}


/** Masthead
 -------------------------------------------------- */
#masthead {
	min-height: 10px;
	padding: 36px 0 41px 0; /* top = 40px with header border */
}
.featured {
	height: 180px;
	overflow: hidden;
	position: relative;
	width: 310px;
}
.featured-title {
	margin: 0 10px 9px 0;
}
.featured-title a {
	display: inline-block;
	padding: 6px 14px 5px 15px;
}
.featured-content {
	min-height: 170px;
	padding: 15px 0;
}
.featured-description {
	padding: 0 15px;
}
.featured-description p {
	margin-top: 0;
}
.featured-link {
	/* border color set with kuler */
	border-style: solid;
	border-width: 5px;
	display: block;
	position: absolute;
	height: 170px;
	left: 0;
	text-indent: -999em;
	top: 0;
	width: 300px;
	z-index: 20;
}

/* with featured image */
.has-featured-img .featured-content {
	position: absolute;
	z-index: 10;
}
.has-featured-img .featured-description {
	display: none;
}
.has-featured-img:hover .featured-description {
	display: block;
}
.featured-img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

/** Content - wraps body and sidebar
 -------------------------------------------------- */
#content {
	background-color: #fff;
	padding: 40px 0;
}

/** Posts Default
 -------------------------------------------------- */
.post {
	margin-bottom: 40px;
	position: relative;
}

/* shared */
.post-header,
.post-media,
.post-content {
	padding-left: 140px;
}

/* post-header */
.post-header {
	clear: both;
	margin-bottom: 7px;
	width: 100%;
}
.single .post-header {
	margin-bottom: 15px;
}
.post-title, 
.post-date {
	line-height: 30px;
	margin: 0;
	letter-spacing: -1px;
}
.post-title {
	font-family: Titillium400, Helvetica, Arial, Verdana, sans-serif;
}
.home .post-title,
.archive .post-title {
	font-size: 24px;
}
.post-date {
	color: #ccc;
	font-family: Titillium400, Helvetica, Arial, Verdana, sans-serif;
	font-size: 16px;
	left: 0;
	overflow: hidden;
	position: absolute;
	text-align: right;
	top: 2px;
	width: 120px;
}
.post-date a {
	color: #ccc;
}

/* post-media - wraps featured images, gallery, video */
.single .post-media {
	margin: 20px 0 25px 0;
	padding: 0 140px;
}
.home .post-media,
.archive .post-media {
	padding-bottom: 11px;
	padding-right: 0;
	padding-top: 5px;
}
/* .home .format-gallery .post-media,
.archive .format-gallery .post-media {
	padding-left: 125px;
} */

/* post-meta */
.post-meta {
	color: #ccc;
	float: left;
	font-size: 12px;
	line-height: 20px;
	margin-right: 20px;
	overflow: hidden;
	padding-top: 1px;
	text-align: right;
	width: 120px;
}
.post-meta .h5 {
	margin-top: 0;
}
.post-meta .h6 {
	margin: 0;
}
.post-meta a {
	color: #666;
}
.post-meta h5 {
	margin: 0;
}
.post-meta ul {
	list-style-type: none;
}


/* Shared styles for media post formats */
.single .format-image .post-content,
.single .format-gallery .post-content,
.single .format-video .post-content {
	width: 680px;
}

/** Gallery Post Format
 -------------------------------------------------- */
/* excerpts */
.gallery-img-excerpt {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 525px;
}
.gallery-img-excerpt li {
	background-color: #ddd;
	float: left;
	height: 120px;
	margin: 0 15px 15px 0;
	width: 160px;
}
.gallery-img-excerpt li.gallery-view-all a {
	display: block;
	height: 120px;
	line-height: 120px;
	text-align: center;
	width: 160px;
}
/* single/full */
.single .format-gallery .post-media {
	padding-left: 130px;
	padding-right: 130px;
}
.gallery-stage {
	background-color: #000;
	height: 400px;
	margin: 0 10px;
	overflow: hidden;
	width: 710px;
}
.gallery-thumbs {
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 10px;
}
.gallery-thumbs li {
	background-color: #ddd;
	display: block;
	float: left;
	height: 60px;
	margin: 10px 10px 0 0;
	padding: 0;
	width: 80px;
}
.gallery-thumbs a,
.gallery-thumbs img {
	display: block;
}
.gallery-thumbs a.activated,
.gallery-thumbs a:hover {
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.gallery-thumbs a img {
	border-bottom: 1px solid #fff;
}
.gallery .loading {
	background-color: rgba(0, 0, 0, .8);
	color: #fff;
	font-size: 12px;
	left: 0;
	line-height: 2.5em;
	position: absolute;
	padding: 0 12px;
	right: 0;
	text-align: center;
	bottom: 0;
	z-index: 5;
}

/** Status Post Format
 -------------------------------------------------- */
.format-status .post-date {
	line-height: 26px;
}
.post-status-content {
	color: #999;
	font-family: Titillium400, Helvetica, Arial, Verdana, sans-serif;
	font-size: 20px;
	line-height: 26px;
}
.post-status-meta {
	color: #ccc;
	font-size: 12px;
	margin-top: -10px;
	text-transform: lowercase;
}
.post-status-meta a {
	color: #999;
}

/** Quote Post Format
 -------------------------------------------------- */
.format-quote .post-content blockquote {
	color: #999;
	font-family: Titillium400, Helvetica, Arial, Verdana, sans-serif;
	font-size: 20px;
	line-height: 26px;
}
.format-quote .post-date {
	line-height: 26px;
}

/** Link Post Format
 -------------------------------------------------- */
.format-link .post-title {
	font-size: 22px;
}
.format-link .post-title,
.format-link .post-date {
	line-height: 26px;
}
.format-link .post-date {
	top: 1px;
}
.link-screenshot {
	float: left;
	margin-right: 15px;
}

/** Pages
 -------------------------------------------------- */
.page {
	margin-bottom: 40px;
}
.page-header {
	clear: both;
	position: relative;
	margin-bottom: 15px;
	width: 100%;
}
.page-title {
	line-height: 1.2em;
	margin: 0;
}
.page-title {
	letter-spacing: -1px;
}
.page-date {
	color: #ccc;
	bottom: 4px;
	font-family: Titillium400, Helvetica, Arial, Verdana, sans-serif;
	font-size: 20px;
	left: 0;
	letter-spacing: -1px;
	position: absolute;
}
/* full page with no sidebar */
.page-full {
	padding: 0 140px;
}


/** Sidebar
 -------------------------------------------------- */

/* Sidebar Footer - split sidebar section into columns */
#sidebar-footer {
	margin-top: 60px;
}
#sidebar-footer #sidebar-1,
#sidebar-footer #sidebar-2,
#sidebar-footer #sidebar-3 {
	float: left;
	width: 310px;
}
#sidebar-footer #sidebar-1,
#sidebar-footer #sidebar-2 {
	margin-right: 30px;
}

/* bio-box */
.widget.bio-box {
	margin-bottom: 30px;
}
.widget .bio-box-gallery {
	height: 180px;
	overflow: hidden;
	position: relative;
}
.widget .bio-box-gallery a.bio-carousel-nav {
	background: url(../img/bio-scroller-btns.png) 0 0 no-repeat;
	height: 46px;
	line-height: 30px;
	overflow: hidden;
	position: absolute;
	top: 67px;
	text-indent: -9999px;
	width: 30px;
	z-index: 9999;
}
.widget .bio-box-gallery a#bio-carousel-prev {
	background-position: 0px 0px;
	left: 5px;
}
.widget .bio-box-gallery a#bio-carousel-next {
	background-position: -30px 0px;
	right: 5px;
}
.widget .bio-box-content {
	border-bottom: 1px solid #fff;
	padding: 15px 20px 17px 20px;
}
.widget .bio-box-title {
	font-size: 21px;
	margin: 3px 0 0 0;
}
.widget .bio-box-content p {
	margin: 8px 0 0 0;
}
.widget .bio-box-links {
	padding: 15px 15px 15px 20px;
}
.widget .bio-box-links ul,
.widget .bio-box-links li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.widget .bio-box-links ul li,
.widget .bio-box-links ul li a {
	display: block;
	float: left;
}
.widget .bio-box-links ul li {
	height: 20px;
	padding-right: 5px;
}
.widget .bio-box-links ul li a {
	background-color: #fff;
	border: 2px solid #fff;
	height: 16px;
	width: 16px;
}
/* widgets */
.widget {
	font-size: 13px;
	line-height: 18px;
	margin: 0 0 25px 0;
}
.widget-title {
	margin: 0 0 10px 0;
	padding: 6px 10px 3px 10px;
}
.widget ul {
	list-style-type: none;
	margin: 0;
	padding: 0 11px;
}
.widget ul li {
	background: url(../img/list-style-image.gif) 0 7px no-repeat;
	margin: 5px 0 0 0;
	padding-left: 10px;
}
.widget ul.ul-col-2 {
	padding: 0 0 0 26px;
}
.widget ul.ul-col-2 li {
	float: left;
	margin-right: 12px;
	width: 130px;
}
/* search widget */
.widget_search .widget-title {
	display: none;
}
.widget_search form {
	min-height: 28px;
	position: relative;
}
.widget_search form label,
.widget_search form #s,
.widget_search form #searchsubmit {
	margin: 0;
	position: absolute;
	top: 0;
}
.widget_search form label,
.widget_search form #s {
	font-family: Titillium600, Helvetica, Arial, Verdana, sans-serif;
	font-size: 16px;
}
.widget_search form #s {
	margin-top: 5px;
}
.widget_search form label {
	margin-top: 6px;
}
.widget_search form label {
	left: 0;
	padding: 0 10px;
	width: 285px;
	z-index: 10;
}
.widget_search form #s {
	background: none;
	border: 0;
	left: 0;
	padding: 0 8px;
	position: absolute;
	top: 0;
	width: 260px;
}
.widget_search form #searchsubmit {
	background: url('../img/search-icon.png') center center no-repeat;
	border: 0;
	border-left: 1px solid #fff;
	cursor: pointer;
	display: block;
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 28px 0 0 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 34px;
}
/** Attachment Page
 -------------------------------------------------- */
.attachment-content,
.attachment-next,
.attachment-prev {
	float: left;
	overflow: hidden;
}
.attachment-header,
.attachment-content {
	width: 650px;
}
.attachment-header {
	margin: 0 auto;
}
.attachment-header p {
	margin-top: 0;
}
.attachment-content {
	margin: 0 20px;
}
.attachment-excerpt {
	color: #666;
	font-size: .9em;
}
.attachment-next,
.attachment-prev {
	min-height: 20px;
	width: 150px;
}
.attachment-prev {
	text-align: left;
}
.attachment-next {
	text-align: right;
}
.attachment-next a,
.attachment-prev a {
	opacity: 0.25;
}
.attachment-next a:hover,
.attachment-prev a:hover {
	opacity: 1.0;
}

/** Footer
 -------------------------------------------------- */
#footer {
	font-size: 12px;
	line-height: 18px;
	padding: 35px 0;
}
#footer a {
	color: #fff;
}
#footer a:hover {
	text-decoration: underline;
}
#footer p {
	margin: 0;
}
.credit {
	float: right;
}