/** --------------------------------------------------
 * Grid
 * Contains styles for grid layout
 * Also contains style for Carrington Build
 * -------------------------------------------------- */

.container {
	width: 990px;
	margin: 0 auto;
}

.col-a, /* 1/3 */
.col-b,
.col-c,
.col-ab, /* 1/3 grouped */
.col-bc,
.col-abc, /* 1/1 */
.col-d, /* 1/2 */
.col-e {
	display: inline; /* Double-margin float bug fix */
	float: left;
	/**
	 * @workaround min-height Fast Hack
	 *
	 * IE6 doesn't support min-height, but treats elements with
	 * height and overflow:visible as min-height.
	 *
	 * @affected IE5, IE6
	 * @see http://www.dustindiaz.com/min-height-fast-hack/
	 */
	height: auto !important;
	height: 1px;
	min-height: 1px;
	margin: 0 15px;
}

.col-a,
.col-b,
.col-c {
	width: 310px;
}
.col-ab,
.col-bc {
	width: 650px;
}
.col-d,
.col-e {
	width: 480px;
}
.col-abc {
	display: block;
	float: none;
	width: 990px;
}

/**
 * Make sure first columns are always on a new line
 */
.col-a,
.col-ab,
.col-abc,
.col-d {
	clear: left;
}

/** 
 * Remove margins on first and last columns
 */
.col-a,
.col-ab,
.col-d {
	margin-left: 0;
}
.col-c,
.col-bc,
.col-e {
	margin-right: 0;
}
.col-abc {
	margin-left: 0;
	margin-right: 0;
}

/**
 * @subsection nested columns
 */
.col-abc .col-a,
.col-abc .col-ab,
.col-abc .col-d,
.col-ab .col-a,
.col-bc .col-b {
	margin-left: 0;
}
.col-abc .col-c,
.col-abc .col-bc,
.col-abc .col-e,
.col-ab .col-b,
.col-bc .col-e {
	margin-right: 0;
}

.col-abc .col-abc,
.col-ab .col-ab {
	margin-left: 0;
	margin-right: 0;
}