/**
Fixes for IE 7
*/


/** header
 -------------------------------------------------- */
/* making inline block work for the nav menu */
#header #nav-main li,
#header .menu li,
#header #nav-main ul li a,
#header .menu ul li a {
	zoom: 1;
	display: inline;
}
#header #nav-main ul ul li.current_page_item > a,
#header .menu ul ul li.current_page_item > a {
	display: block;
}