/** Masthead/Header
 * 
 * Masthead used for the CSS but we are
 * calling it "header" where the user sees
 * most people won't know the term "masthead"
 *
 * Default colors here will be over ridden by
 * the ones choosen in the color settings
 * 
 * These styles are loaded for the front-end and admin-settings screen
 * 
 -------------------------------------------------- */

/** Featured Posts
 -------------------------------------------------- */
/* featured posts */
#featured-post-1,
#featured-post-2,
#featured-post-3 {
	float: left;
}
#featured-post-1,
#featured-post-2 {
	margin-right: 30px;
}
#featured-posts .featured {
	background-color: #666;
	height: 180px;
	overflow: hidden;
	position: relative;
	width: 310px;
}
#featured-posts .featured-title {
	background-color: #666;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	line-height: 20px;
	margin: 0 10px 9px 0;
	padding: 8px 15px 6px;
}
#featured-posts .featured-content {
	color: #fff;
	min-height: 170px;
	padding: 15px 0;
}
#featured-posts .featured-description {
	padding: 0 15px;
}
#featured-posts .featured-description p {
	margin-top: 0;
}
#featured-posts .featured-description, 
#featured-posts .featured-description p {
	font-size: 14px;
	line-height: 20px;
}
#featured-posts .featured-link {
	border-color: #666;
	border-style: solid;
	
	/* removing border to try out visually
		want it back? change border width to 5px
		removing it? also remove border styles from header.php
	 */
	border-width: 0px;
	
	display: block;
	position: absolute;
	height: 170px;
	left: 0;
	text-indent: -999em;
	top: 0;
	width: 300px;
	z-index: 20;
}
/* with featured image */
#featured-posts .has-featured-img .featured-content {
	position: absolute;
	z-index: 10;
}
#featured-posts .has-featured-img .featured-description {
	display: none;
}
#featured-posts .has-featured-img:hover .featured-description {
	display: block;
}
#featured-posts .featured-img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
/* rollover */
#featured-posts .featured:hover .featured-content {
	background-color: rgba(153,153,153,.9);
	color: #333;
}