/* --------------------------------------------------
 * Standard / Utility Classes
-------------------------------------------------- */

/** Clearing
 * Clearing floats without extra markup [http: //www.positioniseverything.net/easyclearing.html]
 -------------------------------------------------- */
.clearfix {
	display: block;
	zoom: 1;
}
.clearfix:after {
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clear {
	clear: both;
	float: none;
	height: 1px;
}

/** Alignment
 -------------------------------------------------- */
.center {
	text-align: center;
}

/** WordPress compatibility styles
 --------------------------------------------------------------- */
.alignleft,
.alignright {
	margin-top: 4px;
}
.alignleft {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}
.alignright {
	float: right;
	margin-left: 20px;
	margin-bottom: 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* Let's pull things off the side */
.page-full .alignleft.pull {
	margin-left: -140px;
}
.page-full .alignright.pull {
	margin-right: -140px;
}
/**
 * Captioned images
 * Caption shortcode filtered.
 */
.wp-caption {
	overflow: hidden;
	position: relative;
}
.wp-caption dt {
	margin: 0;
}
.wp-caption img {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}
.wp-caption dd {
	font-size: .9em;
	padding: 2px 8px 3px 8px;
	margin: 1px 0 0 0;
}

/* WP Gallery */
#gallery {
	margin: 20px 0 25px 0;
	padding: 0 130px;
}
#gallery-image {
	background-color: #ddd;
	height: 400px;
	margin: 0 10px;
	width: 710px;
}
#gallery-thumbs {
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 10px;
}
#gallery-thumbs li {
	background-color: #ddd;
	display: block;
	float: left;
	height: 40px;
	margin: 10px 10px 0 0;
	padding: 0;
	width: 50px;
}


/* Archive */
.archive {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Pagination */
.pagination {
	min-height: 20px;
}
.pagination .next {
	float: right;
}
.pagination a {
	color: #ccc;
}
.home .pagination {
	padding-right: 30px;
	padding-left: 140px;
}

/* Tooltip */
.tooltip {
	color:#fff;
	position:absolute;
	left:-2000px;
	line-height: 1em;
	background-color:#222;
	max-width: 140px;
	padding:8px 12px;
}
.tooltip p {
	margin:0;
	padding:0;
}