/* --------------------------------------------------
 * Standard / Utility Classes
-------------------------------------------------- */

/** Clearing
 * Clearing floats without extra markup [http: //www.positioniseverything.net/easyclearing.html]
 -------------------------------------------------- */
.clearfix {
	display: block;
	zoom: 1;
}
.clearfix:after {
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clear {
	clear: both;
	float: none;
	height: 1px;
}

/** Alignment
 -------------------------------------------------- */
.center {
	text-align: center;
}

/** WordPress compatibility styles
 --------------------------------------------------------------- */
.alignleft,
.alignright {
	margin-top: 4px;
}
.alignleft {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}
.alignright {
	float: right;
	margin-left: 20px;
	margin-bottom: 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption .alignleft {
	margin-right: 0;
}
/**
 * Captioned images
 * Caption shortcode filtered.
 */
.wp-caption {
	overflow: hidden;
	padding: 5px;
	position: relative;
}
.wp-caption dt {
	margin: 0;
}
.wp-caption img {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}
.wp-caption .wp-caption-text {
	padding: 4px 0 0 0;
}

/* Let's pull things off the side */
.page-full .alignleft.pull {
	margin-left: -140px;
}
.page-full .alignright.pull {
	margin-right: -140px;
}

/** Archive
 -------------------------------------------------- */
.archive {
	list-style-type: none;
	margin: 0;
	padding: 0;
}




.tooltip {
	color:#fff;
	position:absolute;
	left:-2000px;
	line-height: 1em;
	background-color:#222;
	max-width: 140px;
	padding:8px 12px;
}
.tooltip p {
	margin:0;
	padding:0;
}