/**
ADMIN CSS
Used for common styles across all admin pages

.cfp-... are specific styles for personal theme
.cf-... styles are from the Admin UI 

*/


/**
 * Style from Admin-UI
 * This will likely be replaced with an external of the admin-ui in google code
 *
 * Changes:
 * - updated tabs to match new WP admin
 * - minor change to elm-block spacing
 * - minor change to .cf-elm-* padding and font size
 * - added .cf-remove-link 
 * - added p.cf-elm-help
 */


/** @section Form structure/elements
 -------------------------------------------------- */
#cf fieldset {
	margin-bottom: 1.5em;
}
#cf legend {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}
/* overwrite default WP spacing for this class */
#cf p.submit {
	margin: 12px 0 0 0;
	padding: 0;
}

/* wrapper for labels and form elements */
.cf-elm-block {
	clear: both;
	margin: 10px 0;
	padding: 3px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/**
	 * @bugfix hasLayout fix
	 * @affected IE7
	 * @valid no
	 * Resolves issue with error message margins.
	 */
	zoom: 1;
}
/*form .cf-elm-block:hover {
	background-color: #f3f3f3;
}*/
form .cf-elm-block.no-hover,
form .no-hover .cf-elm-block:hover {
	background: none;
}
.cf-elm-block.active {
	background-color: #eee;
}

.cf-elm-date,
.cf-elm-readonly,
.cf-elm-hidden,
.cf-elm-text,
.cf-elm-password,
.cf-elm-select,
.cf-elm-textarea {
	font-size: 13px;
	padding: 5px;
}

.cf-elm-help {
	color: #888;
	font-size: 11px;
}
/* options for aligning to bottom */
p.cf-elm-help {
	margin: 3px 2px 0 2px;
}
.cf-lbl-pos-left .cf-elm-help,
.cf-elm-help.cf-elm-align-bottom {
	display: block;
	padding-left: 20%;
}

span.cf-elm-checkbox,
span.cf-elm-flag,
span.cf-elm-date,
span.cf-elm-readonly,
span.cf-elm-hidden,
span.cf-elm-text,
span.cf-elm-password,
span.cf-elm-select,
div.cf-elm-textarea {
	padding: 3px 0;
}

span.cf-elm-checkbox,
span.cf-elm-flag,
label.cf-lbl-checkbox,
label.cf-lbl-flag,
label.cf-lbl-radio {
	color: #333;
	font-size: 12px;
}
.view label.cf-lbl-checkbox,
.view label.cf-lbl-flag,
.view label.cf-lbl-radio {
	color: #555;
	font-size: 11px;
}

.cf-lbl-pos-top .cf-lbl-date,
.cf-lbl-pos-top .cf-lbl-readonly,
.cf-lbl-pos-top .cf-lbl-hidden,
.cf-lbl-pos-top .cf-lbl-text,
.cf-lbl-pos-top .cf-lbl-textarea,
.cf-lbl-pos-top .cf-lbl-select,
.cf-lbl-pos-top .cf-lbl-password {
	display: block;
}
.cf-lbl-pos-top label.cf-lbl-checkbox,
.cf-lbl-pos-top label.cf-lbl-flag,
.cf-lbl-pos-top label.cf-lbl-radio {
	cursor: pointer;
	display: inline;
}

.cf-lbl-pos-left .cf-elm-block {
	clear: both;
}
.cf-lbl-pos-left label,
.cf-lbl-pos-left .view label.cf-lbl-checkbox,
.cf-lbl-pos-left .view label.cf-lbl-flag,
.cf-lbl-pos-left .view label.cf-lbl-radio {
	width: 20%; /* needs to match .cf-lbl-left .cf-elm-* margin-left */
	float: left;
}
.cf-lbl-pos-left label, 
.cf-lbl-pos-left span.view {
	padding-top: 3px;
}
.cf-lbl-pos-left span.view {
	display: inline-block;
}
.cf-lbl-pos-left label.cf-lbl-checkbox,
.cf-lbl-pos-left label.cf-lbl-flag,
.cf-lbl-pos-left label.cf-lbl-radio {
	width: auto;
	padding-top: 0;
	float: none;
}
.cf-lbl-pos-left .cf-elm-checkbox,
.cf-lbl-pos-left .cf-elm-flag,
.cf-lbl-pos-left .cf-elm-radio {
	margin-left: 20%; /* needs to match .cf-lbl-left .cf-lbl-* width */
}
/* remainging labels left for view only */
.cf-lbl-pos-left .view label.cf-lbl-checkbox,
.cf-lbl-pos-left .view label.cf-lbl-flag,
.cf-lbl-pos-left .view label.cf-lbl-radio {
	color: #555;
	font-size: 11px;
	padding-top: 3px;
}

/* Set form element width's */
.cf-elm-width-300 .cf-elm-text,
.cf-elm-width-300 .cf-elm-password,
.cf-elm-width-300 .cf-elm-textarea {
	width: 300px;
}
.cf-elm-width-500 .cf-elm-text,
.cf-elm-width-500 .cf-elm-password,
.cf-elm-width-500 .cf-elm-textarea {
	width: 500px;
}
.cf-elm-width-200 .cf-elm-text,
.cf-elm-width-200 .cf-elm-password,
.cf-elm-width-200 .cf-elm-textarea {
	width: 200px;
}
.cf-elm-width-50 .cf-elm-text,
.cf-elm-width-50 .cf-elm-password,
.cf-elm-width-50 .cf-elm-textarea {
	width: 40px;
}
.cf-elm-width-100 .cf-elm-text,
.cf-elm-width-100 .cf-elm-password,
.cf-elm-width-100 .cf-elm-textarea {
	width: 100px;
}
.cf-elm-width-full .cf-elm-text,
.cf-elm-width-full .cf-elm-password,
.cf-elm-width-full .cf-elm-textarea {
	/**
	 * Box model CSS3 change
	 * @see http://www.quirksmode.org/css/box.html
	 * Additional workaround in IE7.css
	 */
	-moz-box-sizing: border-box; /* FF1+ */
	-webkit-box-sizing: border-box; /* Saf3+ */
	box-sizing: border-box; /* Standard. Opera7+, IE8+ */
	width: 99%;
}
.cf-lbl-pos-left.cf-elm-width-full .cf-elm-text,
.cf-lbl-pos-left.cf-elm-width-full .cf-elm-password,
.cf-lbl-pos-left.cf-elm-width-full .cf-elm-textarea {
	width: 79%;
	/**
	 * @bugfix boxmodel workaround
	 * @affected IE7
	 * IE7 uses a different box model for inputs from other browsers.
	 * Make up for the differences here using a "safe" selector hack.
	 */
	*width: 76%;
}
/* Set form element heights (textarea) */
.cf-elm-height-60 .cf-elm-textarea {
	height: 60px;
}
.cf-elm-height-100 .cf-elm-textarea {
	height: 100px;
}
.cf-elm-height-500 .cf-elm-textarea {
	height: 500px;
}

/* checkbox and radio lists */
.cf-lbl-checkbox-group,
.cf-lbl-radio-group {
	font-size: 1em;
}
.cf-lbl-pos-left .cf-lbl-checkbox-group,
.cf-lbl-pos-left .cf-lbl-radio-group {
	width: 20%; /* needs to match .cf-lbl-left .cf-elm-* margin-left */
	float: left;
}
p.cf-lbl-checkbox-group,
p.cf-lbl-radio-group {
	margin: 1px 0;
}
.cf-has-checkbox ul,
.cf-has-radio ul {
	list-style-type: none;
	margin-left: 0;
}
.cf-lbl-pos-left .cf-has-radio ul,
.cf-lbl-pos-left .cf-has-checkbox ul {
	margin-left: 20%;
	margin-top: 2px;
}
.cf-lbl-pos-left .cf-has-radio ul .cf-elm-radio,
.cf-lbl-pos-left .cf-has-checkbox ul .cf-elm-checkbox {
	margin-left: 0;
}

.cf-lbl-hide label,
label.cf-lbl-hide,
.cf-hidden {
	display: none;
}

/* delete button */
input[type="button"].cf-btn-delete,
input[type="submit"].cf-btn-delete,
button.cf-btn-delete {
	border: none;
	background: transparent;
	color: #21759B;
}
input[type="button"].cf-btn-delete:hover,
input[type="submit"].cf-btn-delete:hover,
button.cf-btn-delete {
	color: #ff0000;
}
/* remove/delete link */
.cf-remove-link {
	color: #990000;
	font-size: 10px;
	text-transform: uppercase;
}
.cf-remove-link:hover {
	color: #cc0000;
}
.new .cf-remove-link {
	display: none;
}
/* notifications */
.cf-error { 
	background:#fbe3e4 !important; 
	color:#8a1f11;
}
.cf-notice { 
	background:#fff6bf !important;
	color:#514721;
}
.cf-success {
	background:#e4ffc9 !important;
	color:#264409;
}
.cf-error a { color:#8a1f11; }
.cf-notice a { color:#514721; }
.cf-success a { color:#264409; }

.otypeahead-loading {
	color: #999;
}

/* clearfix */
.cf-clearfix:before, .cf-clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.cf-clearfix:after { clear: both; }
.cf-clearfix { zoom: 1; }


/**
 * Begin Specific Personal Styles
 */

/* more space for .cf-nav on the post edit screen */
#cf-post-format-tabs {
	margin-top: 13px;
}
/** Popover - notch menus
 -------------------------------------------------- */
.cfp-popover {
	display: block;
	padding: 7px;
	position: absolute;
	width: 388px;
	z-index: 99;
}
/* notch and positioning */
.cfp-popover-notch {
	background: url(../img/admin/popover-notch.png) 0 0 no-repeat;
	display: block;
	position: absolute;
}
.cfp-popover-top-left .cfp-popover-notch,
.cfp-popover-top-right .cfp-popover-notch,
.cfp-popover-top-center .cfp-popover-notch {
	background-position: 0px 0px;
	height: 8px;
	top: 0;
	width: 14px;
}
.cfp-popover-top-left .cfp-popover-notch {
	left: 20px;
}
.cfp-popover-top-right .cfp-popover-notch {
	right: 20px;
}
.cfp-popover-top-center .cfp-popover-notch {
	left: 185px;
}
/* used for the preview window in color settings, has fixed size */
.cfp-popover-color-preview .cfp-popover-notch {
	background-position: 0px -20px;
	height: 14px;
	width: 8px;
	right: 0;
	top: 50px;
}
/* wrapper for border, bg-color, shadow */
.cfp-popover-inner {
	background-color: #f1f1f1;
	border: 1px solid #aaa;
	-moz-box-shadow: 0px 2px 5px #888; /* FF3.5+ */
	-webkit-box-shadow: 0px 2px 5px #888; /* Saf3+, Chrome */
	box-shadow: 0px 2px 5px #888; /* Standard. Opera 10.5, IE9 */
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3+, Chrome */
	-khtml-border-radius: 5px; /* Konqueror */
	border-radius: 5px; /* Standard. IE9 */
	/**
	 * @bugfix border-radius background bleed
	 * @see http://tumble.sneak.co.nz/post/928998513/fixing-the-background-bleed
	 */
	-webkit-background-clip: padding-box;
}
/* wrapper for content */
.cfp-popover-content {
	padding: 10px 15px;
}
/* scrollable content area */
.cfp-popover-scroll {
	background: #d5d5d5 url(../img/admin/popover-scroll-fade.png) 0 0 repeat-x;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
	margin-bottom: 5px;
	max-height: 230px;
	overflow: auto;
	padding: 15px 10px 10px 18px;
}
/* footer for save and delete links */
.cfp-popover-footer {
	background-color: #e4e4e4;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px; 
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 7px 15px;
	position: relative;
	text-align: center;
}
.cfp-popover-footer .cf-remove-link {
	line-height: 1em;
	margin: 6px 15px;
	position: absolute;
	right: 0;
}
.cfp-popover .cf-error {
	display: block;
	padding: 3px;
}

/* color picker popover */
#cf-kuler-color-picker.cfp-popover {
	width: 378px;
}
#cf-kuler-color-picker p {
	margin: 5px 0;
}
#cf-kuler-color-picker .colorpicker {
	margin: -15px 0 -5px 10px;	
}


/** @section About Settings
 -------------------------------------------------- */
#cfp-about-settings {
	width: 531px;
}
#cfp-about-settings .cf-elm-block {
	position: relative;
}
.cfp-list-img-left {
	background-color: #f1f1f1;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: 99%;
}
.cfp-list-img-left ul {
	float: left;
	list-style-type: none;
	margin: 0;
	min-height: 60px;
	padding: 5px 0 0 5px;
}
.cfp-list-img-left ul li {
	cursor: move;
	float: left;
	margin: 0 5px 0 0;
	padding: 0;
}
.cfp-list-img-left img {
	min-width: 60px;
}
.cfp-list-img-left ul li p {
	color: #888;
	margin: 0;
	padding: 5px;
}
/* override min-height for links */
#cfp-link-items {
	min-height: 20px;
}
.cfp-about-link-item,
.cfp-about-link-item img {
	min-height: 16px;
	min-width: 16px;
}
/* positioning for .cfp-add-link */
#cfp-about-settings .cf-elm-block {
	position: relative;
}
#cfp-about-settings .cfp-add-link {
	position: absolute;
	top: 22px;
	right: -20px;
}

/* delete about image button */
.cfp-del-image {
	text-indent: -9999px;
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(../img/admin/edit-actions-sprite.png) 0 -32px no-repeat;
	position: absolute;
	bottom: 5px;
	right: 2px;
	display: none;
}
#cfp-about-imgs-input ul li:hover span .cfp-del-image {
	display: block;
}
.cfp-del-image:hover {
	background-position: 0px -48px;
}

/* popover image search */
#cfp-img-search-term {
	width: 98%;
}
.cfp-about-img-placeholder,
.cfp-link-img-placeholder {
	width: 80px;
	height: 60px;
	display: inline-block;
	background: #f0f0f0;
	-moz-box-shadow: inset 1px 1px 6px #CCC; /* FF3.5+ */
	-webkit-box-shadow: inset 1px 1px 6px #CCC; /* Saf3+, Chrome */
	box-shadow: inset 1px 1px 6px #CCC; /* Standard. Opera 10.5, IE9 */
}
.cfp-link-img-placeholder {
	width: 16px;
	height: 16px;
}
#cfp-about-imgs-input ul,
#cfp-about-imgs-input ul li {
	position: relative;
}
.cfp-about-image-action-inputs {
	text-align: center;
}
#cfp_link_custom_favicon {
	width: 72%;
}
#cfp-link-edit.saving .button-primary {
	background: #999;
	border: #666;
}
#cfp-link-remove-popover {
	max-width: 388px;
	min-width: 250px;
	width: auto;
}
#cfp-link-remove-popover p.title {
	font-weight: bold;
	margin-bottom: .5em;
}
#cfp-link-remove-popover p.url {
	margin-top: .5em;
}
#cfp-link-remove-popover .cfp-popover-footer {
	text-align: left;
}
#cfp-link-remove-popover .cf-remove-link {
	line-height: 2em;
	margin: 0;
	position: relative;
}
#cfp-link-edit .cf-error {
	margin-left: 20%;
}

/* about search results */
#cfp-img-search-results {
	display: none;
}
#cfp-img-search-results ul {
	margin: 3px 0 5px 0;
}
.cfp-search-result {
	float: left;
	display: block;
	height: 60px;
	margin: 0 5px 5px 0;
	width: 80px;
}
.cfp-search-result img {
	cursor: pointer;
}

/* popover link menu */
.cfp-icon-preview {
	background-color: #fff;
	border: 1px solid #dfdfdf;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	height: 16px;
	margin: 0;
	padding: 4px;
	text-align: center;
	width: 16px;
	vertical-align: middle;
}

.cfp-about-link-item a {
	cursor: move;
}

/** @section Utilities
 -------------------------------------------------- */
/* Popup Actions */
.cfp-add-link {
	background: url(../img/admin/popup-actions-sprite.png) 0 0 no-repeat;
	display: block;
	height: 18px;
	overflow: hidden;
	text-indent: -9999px;
	width: 18px;
}
.cfp-add-link:hover {
	background-position: 0px -18px;
}
/* changes add-link to remove link */
.cfp-add-link.open {
	background-position: 0px -36px;
}
.cfp-add-link.open:hover {
	background-position: 0px -54px;
}

/* Edit Actions */
input.cfp-action-edit,
input.cfp-action-remove {
	background: transparent url(../img/admin/edit-actions-sprite.png) 0 0 no-repeat;
	border: 0;
	cursor: pointer;
	height: 16px;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	width: 16px;
	vertical-align: baseline;	
}
input.cfp-action-edit {
	background-position: 0px 0px;
}
input.cfp-action-edit:hover {
	background-position: 0 -16px;
}
input.cfp-action-remove {
	background-position: 0px -32px;
}
input.cfp-action-remove:hover {
	background-position: 0 -48px;
}

/* Typography */
.cf-elm-block label.typ-sc {
	display: block;
	color: #666;
	font: italic normal 12px Georgia, Serif;
	margin: 0 0 2px 8px;
	text-transform: uppercase;
}


/** Featured Post Position
 * metabox on post-edit screen
 -------------------------------------------------- */
#cfp-set-featured-position {
}
#poststuff #cfp-set-featured-position .inside {
	margin: 0;
	padding: 0;
}
#cfp-set-featured-position ul,
#cfp-set-featured-position li,
#cfp-set-featured-position a {
	display: block;
	margin: 0;
	padding: 0;
}
#cfp-set-featured-position ul {
	width: 100%;
}
#cfp-set-featured-position li {
	cursor: pointer;
	float: left;
	padding: 10px 0 11px 0;
	width: 33.1%;
	overflow: hidden;
}
#cfp-set-featured-position li#cfp-featured-position-2 {
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}
#cfp-set-featured-position li p.none {
	color: #999;
	padding: 10px;
	text-align: center;
}
#poststuff #cfp-set-featured-position li h4, 
#poststuff #cfp-set-featured-position li p {
	margin: 0 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#poststuff #cfp-set-featured-position li h4 {
	font-size: 13px;
	font-weight: normal;
	margin-top: 3px;
}
#cfp-set-featured-position li p.cfp-featured-meta {
	color: #999;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
}
/* hover */
#cfp-set-featured-position li:hover {
	background: url(../img/admin/set-featured-hover.png) 50% 50% no-repeat;
}
/* preset - for when post is in draft */
#cfp-set-featured-position li.cfp-featured-pending {
	background: url(../img/admin/set-featured-preset.png) 50% 50% no-repeat;
}
/* set - position this post is set to once published */
#cfp-set-featured-position li.cfp-featured-set {
	background: url(../img/admin/set-featured-set.png) 50% 50% no-repeat;
}
/* hide content for hover and setting position */
#cfp-set-featured-position li:hover,
#cfp-set-featured-position li.cfp-featured-pending,
#cfp-set-featured-position li.cfp-featured-set {
	text-indent: -9999px;
}

/** Header Settings
 -------------------------------------------------- */
#cfp-header-options {
	margin: 0 0 15px;
	padding: 0;
}
#cfp-header-options li {
	margin: 0 0 20px 0;
	padding: 0;
}
#cfp-header-options label {
	display: block;
}
#cfp-header-options label input[type=radio] {
	margin-top: -2px;
	margin-right: 2px;
}
#cfp-header-options label img {
	display: block;
	margin: 5px 0;
}
