/* --------------------------------------------------
Base Style Sheet
-------------------------------------------------- */

@font-face {
    font-family: 'Titillium400';
    src: url('../fonts/titilliumtext25l003-webfont.eot');
    src: url('../fonts/titilliumtext25l003-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumtext25l003-webfont.woff') format('woff'),
         url('../fonts/titilliumtext25l003-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Titillium600';
    src: url('../fonts/titilliumtext25l002-webfont.eot');
    src: url('../fonts/titilliumtext25l002-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumtext25l002-webfont.woff') format('woff'),
         url('../fonts/titilliumtext25l002-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** Meyer Reset
-------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
hr {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	background-color: #fff;
	/* Keep webkit from re-sizing text by default. We're mobile-optimized, baby! */
	-webkit-text-size-adjust: 100%;
}
/**
 * Set HTML5 block level elements for browsers that don't recognize.
 */
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}
/**
 * Remove dotted borders from links and buttons
 */
:focus,
:active {
	outline: 0;
}
/**
 * @bugfix Remove dotted inner borders from buttons in FF
 * @valid no
 */
::-moz-focus-inner {
	border: 0;
}

img {
	height: auto;
	max-width: 100%;
	width: auto;
}

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/** Load Fonts
 -------------------------------------------------- */

/** Basic Elements
-------------------------------------------------- */
body,
input,
textarea {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 { 
	font-weight: normal;
	margin: 40px 0 20px 0;
}
h1,
.h1 {
	font-family: 'Titillium400', Helvetica, Arial, Verdana, sans-serif;
	font-size: 24px;
	letter-spacing: -1px;
	line-height: 28px;
	margin-top: 0;
}
h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Titillium600', Helvetica, Arial, Verdana, sans-serif;
}
h2,
.h2 {
	font-size: 18px;
}
h3,
.h3 {
	font-size: 16px;
}
h4,
.h4 { 
	font-size: 14px;
}
h5,
h6,
.h5,
.h6 {
	color: #ccc;
	letter-spacing: 1px;
	text-transform: uppercase;
	vertical-align: text-bottom;
}
h5,
.h5 {
	font-size: 13px;
}
h6,
.h6 {
	font-size: 11px;
}

p,
ul,
ol,
dl,
blockquote,
pre {
	margin-bottom: 20px;
}

strong, 
b {
	font-weight: bold;
}

ul,
ol {
	margin-left: 40px;
}
ul {
	list-style-type: square;
}
li	{
	margin: 5px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 20px;
}

blockquote {
	border-left: 3px solid #ddd;
	margin-left: 0;
	padding-left: 20px;
}

label[for] {
	cursor: pointer;
}

hr {
	border: 0;
	border-top: 1px solid #ccc;
	height: 0;
	margin: 20px 0;
	padding: 0;
}/* --------------------------------------------------
 * Standard / Utility Classes
-------------------------------------------------- */

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}


/* edit-link */
.post .edit-link {
	display: none;
	left: 0;
	position: absolute;
	top: 2px;
}
.edit-link a {
	background: #666 url(../img/edit-icon.png) 0 0 no-repeat;
	display: block;
	height: 20px;
	overflow: hidden;
	text-indent: -9999px;
	width: 20px;
}
.post:hover .edit-link {
	display: inline;
}

/** Alignment
 -------------------------------------------------- */
.center {
	text-align: center;
}

/** WordPress compatibility styles
 --------------------------------------------------------------- */
.alignleft,
.alignright {
	margin-top: 4px;
}
.alignleft {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}
.alignright {
	float: right;
	margin-left: 20px;
	margin-bottom: 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/**
 * Captioned images
 * Caption shortcode filtered.
 */
.wp-caption {
	overflow: hidden;
	position: relative;
}
.wp-caption dt {
	margin: 0;
}
.wp-caption img {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}
.wp-caption dd {
	font-size: .9em;
	padding: 2px 8px 3px 8px;
	margin: 1px 0 0 0;
}
img.wp-smiley {
	vertical-align: sub;
}
.sticky {
	/* Add styles here if you wish to callout sticky posts */
}

/* WP Gallery */
.gallery-item {
	float: left;
	margin: 0 15px 12px 0;
	text-align: center;
	width: 150px;
}
.gallery-item .gallery-icon {
	margin: 0;
}
.gallery-item .gallery-icon img {
	border-bottom: #fff solid 1px;
	display: block;
}
.gallery-item .gallery-icon a {
	border-bottom: #fff solid 2px;
	display: block;
}
.gallery-caption {
	color: #999;
	font-size: 0.9em;
}

/* Archive */
.archive {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Pagination */
.pagination {
	min-height: 20px;
	margin-top: 40px;
}
.pagination .next {
	float: right;
}
.home .pagination {
	margin-top: 60px;
}

/* Tooltip */
.tooltip {
	color:#fff;
	position:absolute;
	left:-2000px;
	line-height: 1em;
	background-color:#222;
	max-width: 140px;
	padding:8px 12px;
}
.tooltip p {
	margin:0;
	padding:0;
}/* --------------------------------------------------
 * Content - Posts, Pages, Comments
-------------------------------------------------- */

.container {
	margin: 0 auto;
}

/** Header
 -------------------------------------------------- */
#header .container {
	padding-top: 25px;
	position: relative;
}
#header #site-name {
	font-size: 30px;
	line-height: 1.3em;
	margin: 0;
}

/**
 * Visually hide h1 in header by default. Leave it readable by screen readers for accessibility.
 * This is reset by mobile styles to create a menu.
 */
#nav-main h1 {
	position: absolute;
	left: -999em;
}

/* Menu */
#nav-main h1,
#nav-main ul {
	font-family: Titillium600, Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 1em;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#nav-main h1 {
	margin-top: 15px;
}
#nav-main .menu > li {
	border-bottom: 3px solid transparent;
	display: inline-block;
	height: 20px;
	margin: 10px 0 0 20px;
	padding: 0;
	position: relative;
	vertical-align: top;
}
/* inline block fix for IE6 and IE7 */
html.ie6 #nav-main .menu > li,
html.ie7 #nav-main .menu > li {
	display: inline;
	zoom: 1;
}
#nav-main li:first-child {
	margin-left: 0;
}
#nav-main a {
	display: block;
}
/* Dropdown Menus */
#nav-main .sub-menu {
	border: 3px solid transparent;
	border-top: 0;
	/* bg and border colors set in header */
	box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	display: none;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	right: -3px;
	padding: 5px 0 3px 0;
	position: absolute;
	text-align: left;
	text-transform: none;
	top: 23px;
	min-width: 140px;
	width: 120%;
	z-index: 99999;
}
#nav-main .sub-menu li {
	border-bottom: 0;
	display: block;
	height: auto;
	margin: 3px 0;
	padding: 0;
}
#nav-main .sub-menu a {
	display: block;
	font-weight: normal;
	height: auto;
	letter-spacing: 0;
	line-height: 1.2em;
	padding: 4px 10px;
}
#nav-main li:hover > .sub-menu {
	display: block;
}
#nav-main .sub-menu .current-menu-item a {
	padding-left: 7px;
	padding-right: 7px;
}
#nav-main .sub-menu li.current-menu-item > a {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}

/** Masthead - also see masthead.css
 -------------------------------------------------- */
#masthead {
	min-height: 10px;
	padding: 36px 0 41px 0; /* top = 40px with header border */
}


/** Content - wraps body and sidebar
 -------------------------------------------------- */
#content {
	background-color: #fff;
	padding: 40px 0;
}
.ie7 #content {
	zoom: 1;
}

/** Posts Default
 -------------------------------------------------- */
.post,
.page {
	margin-bottom: 40px;
	position: relative;
}

/* post-header */
.post-header {
	clear: both;
	margin-bottom: 7px;
	zoom: 1;
}
.post-title {
	font-family: Titillium400, Helvetica, Arial, Verdana, sans-serif;
	margin: 0;
}
.single .post-title,
.page .post-title {
	font-size: 30px;
	line-height: 32px;
}
.post-date {
	color: #ccc;
	font-family: Titillium400, Helvetica, Arial, Verdana, sans-serif;
	font-size: 16px;
}
.post-date a {
	color: #ccc;
}

/* post-media - wraps featured images, gallery, video */
.single .post-media {
	margin: 20px 0 25px 0;
}
.post-media a {
	display: inline-block;
	border-bottom: 2px solid #fff;
}
.post-media a img {
	display: block;
	border-bottom: 1px solid #fff;
}
.home .post-media,
.archive .post-media {
	padding-bottom: 2px;
	padding-right: 0;
	padding-top: 5px;
}

/* Post meta
Put post info in an empty left-hand column */
.post-title,
.post-media,
.post-content {
	margin-left: 140px;
}
.post-date,
.post-meta,
.post-meta p {
	display: block;
}
.post-header .post-date,
.post-header .post-meta,
.post-header .post-meta p {
	display: inline;
}

.post-date {
	left: 0;
	line-height: 1em;
	letter-spacing: -1px;
	position: absolute;
	text-align: right;
	top: 14px;
	width: 120px;
}
.home .post-date,
.archive .post-date {
	top: 10px;
}

.post-meta {
	color: #ccc;
	float: left;
	font-size: 12px;
	margin-right: 20px;
	padding-bottom: 15px;
	padding-top: 3px;
	overflow: hidden;
	text-align: right;
	width: 120px;
}
.post-header .post-meta {
	padding-top: 8px;
}
.post-meta p {
	vertical-align: baseline;
	margin-bottom: 0;
}
.post-meta a {
	color: #999;
}
.post-meta .post-meta-replies {
	margin-top: 0;
}
.excerpt .post-meta .post-meta-replies {
	margin: 0 0 0 8px;
}

.post-meta .post-meta-title {
	margin: 10px 0 0 0;
}
.post-meta ul {
	list-style-type: none;
}

.single .format-status .post-meta,
.single .format-quote .post-meta {
	margin-top: 40px;
}

.format-status .post-header,
.format-quote .post-header {
	width: 140px;
	float: left;
	position: relative;
	padding-top: 25px;
}

/** Gallery Post Format
 -------------------------------------------------- */
/* excerpts */
.post .gallery-img-excerpt {
	list-style: none;
	margin: 0;
	padding: 0;
}
.post .gallery-img-excerpt li {
	float: left;
	width: 160px;
	margin: 0 0 12px;
}
.post .gallery-img-excerpt li.gallery-view-all a {
	height: 120px;
	line-height: 120px;
}
.post .gallery-img-excerpt .excerpt-img-1,
.post .gallery-img-excerpt .excerpt-img-2,
.post .gallery-img-excerpt .excerpt-img-4,
.post .gallery-img-excerpt .excerpt-img-5,
.post .gallery-img-excerpt .excerpt-img-7,
.post .gallery-img-excerpt .gallery-view-all {
	margin-left: 15px;
}
.post .gallery-img-excerpt .excerpt-img-0,
.post .gallery-img-excerpt .excerpt-img-3,
.post .gallery-img-excerpt .excerpt-img-6 {
	margin-left: 0;
}
.post .gallery-img-excerpt li a,
.post .gallery-img-excerpt li img {
	display: block;
}
.post .gallery-img-excerpt li a:hover {
	border-bottom-color: #999;
 	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.post .gallery-img-excerpt li a img {
	border-bottom: 1px solid #fff;
}
.post .gallery-img-excerpt li.gallery-view-all a {
	border: 0;
	display: block;
	height: 120px;
	line-height: 120px;
	text-align: center;
	width: 100%;
}

/* single/full */
.gallery-stage {
	height: 400px;
	overflow: hidden;
	width: 100%;
}
.js .gallery-stage {
	cursor: pointer;
}
.gallery-thumbs {
	list-style-type: none;
	margin: 3px 0 0;
	width: 720px;
}
.gallery-thumbs li {
	background-color: #ddd;
	display: block;
	float: left;
	height: 63px; /* 63px */
	margin: 7px 10px 0 0;
	padding: 0;
	width: 80px; /* 80px */
}
.gallery-thumbs a,
.gallery-thumbs img {
	display: block;
}
.gallery-thumbs img {
	width: 100%;
}
.gallery-thumbs a.activated,
.gallery-thumbs a:hover {
	border-bottom-color: #999;
 	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.gallery-thumbs a img {
	border-bottom: 1px solid #fff;
}
.gallery .loading {
	background-color: rgba(0, 0, 0, .8);
	color: #fff;
	font-size: 12px;
	left: 0;
	line-height: 2.5em;
	position: absolute;
	padding: 0 12px;
	right: 0;
	text-align: center;
	bottom: 0;
	z-index: 5;
}

/** Status and Quote Post Format
 -------------------------------------------------- */
/* shared */
.format-status,
.format-quote {
	margin-bottom: 50px;
}
.post-status-content,
.format-quote .post-content blockquote {
	border: 0;
	color: #666;
	font-family: Titillium400, Helvetica, Arial, Verdana, sans-serif;
	font-size: 20px;
}
.post-status-content,
.format-quote .post-content blockquote {
	line-height: 28px;
}
.excerpt.format-status .post-date,
.excerpt.format-quote .post-date {
	top: 8px;
}
.single .post-status-content,
.single .format-quote .post-content blockquote {
	font-size: 26px;
}
.single .post-status-content,
.single .format-quote .post-content blockquote {
	line-height: 34px;
}
.single .format-status .post-date,
.single .format-quote .post-date {
	top: 13px;
}

/* status */
.post-status-meta {
	color: #ccc;
	font-size: 12px;
	margin-top: -10px;
	text-transform: lowercase;
}
.post-status-meta a {
	color: #999;
}
/* quote */
.format-quote .post-content blockquote {
	background: url(../img/quote.png) 0 2px no-repeat;
	margin: 0;
	padding: 0 0 0 26px;
	zoom: 1;
}
.format-quote-attribution {
	margin-left: 120px;
	margin-right: 30px;
}

/** Link Post Format
 -------------------------------------------------- */
.link-screenshot {
	display: block;
	border-bottom: 2px solid #fff;
	float: left;
	margin-right: 15px;
}
.link-screenshot img {
	display: block;
	border-bottom: 1px solid #fff;
}

/** Pages
 -------------------------------------------------- */
.page {
	margin-bottom: 40px;
}
.page-header {
	clear: both;
	position: relative;
	margin-bottom: 15px;
	width: 100%;
}
.page-title {
	line-height: 1.2em;
	margin: 0;
}
.page-title {
	letter-spacing: -1px;
}
.page-title em {
	color: #ff0000;
	font-style: normal;
}
.page-date {
	color: #ccc;
	bottom: 4px;
	font-family: Titillium400, Helvetica, Arial, Verdana, sans-serif;
	font-size: 20px;
	left: 0;
	letter-spacing: -1px;
	position: absolute;
}


/* search results */
.search-title {
	margin: 0 0 30px 0;
	padding: 6px 10px 3px 10px;
}
.search-title em {
	font-style: normal;
}


/** Sidebar
 -------------------------------------------------- */
/* Sidebar Footer - split sidebar section into columns */
#secondary-full {
	margin-top: 60px;
}

/* bio-box */
.widget.bio-box {
	margin-bottom: 30px;
}
.widget .bio-box-gallery {
	height: 180px;
	overflow: hidden;
	position: relative;
}
.widget .bio-box-gallery a.bio-carousel-nav {
	background: url(../img/bio-scroller-btns.png) 0 0 no-repeat;
	height: 46px;
	line-height: 30px;
	overflow: hidden;
	position: absolute;
	top: 67px;
	text-indent: -9999px;
	width: 30px;
	z-index: 9999;
}
.widget .bio-box-gallery a#bio-carousel-prev {
	background-position: 0px 0px;
	left: 5px;
}
.widget .bio-box-gallery a#bio-carousel-next {
	background-position: -30px 0px;
	right: 5px;
}
.widget .bio-box-content {
	border-bottom: 1px solid #fff;
	padding: 15px 20px 17px 20px;
}
.widget .bio-box-title {
	font-size: 21px;
	margin: 3px 0 0 0;
}
.widget .bio-box-content p {
	margin: 8px 0 0 0;
}
.widget .bio-box-links {
	padding: 15px 15px 15px 20px;
}
.widget .bio-box-links ul,
.widget .bio-box-links li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.widget .bio-box-links li {
	position: relative;
}
.widget .bio-box-links li .bio-tooltip {
	background: url(../img/bio-tooltip.png) center 0 no-repeat;
	font-size: 11px;
	font-weight: normal;
	height: 25px;
	left: 0;
	padding: 2px 6px 0;
	position: absolute;
	top: -26px;
	visibility: hidden;
	white-space: nowrap;
}
.widget .bio-box-links li:hover .bio-tooltip,
.widget .bio-box-links li.hover .bio-tooltip {
	visibility: visible;
}
.widget .bio-box-links ul li,
.widget .bio-box-links ul li a {
	display: block;
	float: left;
}
.widget .bio-box-links ul li {
	height: 20px;
	margin-right: 5px;
}
.widget .bio-box-links ul li a {
	background-color: #fff;
	border: 2px solid #fff;
	height: 16px;
	width: 16px;
}
/* widgets */
.widget {
	font-size: 13px;
	line-height: 18px;
	margin: 0 0 25px 0;
}
.widget-title {
	margin: 0 0 10px 0;
	padding: 3px 10px 6px;
}
.widget ul {
	list-style-type: none;
	margin: 0;
	padding: 0 11px;
}
.widget ul li {
	background: url(../img/list-style-image.gif) 0 7px no-repeat;
	margin: 5px 0 0 0;
	padding-left: 10px;
}
.widget ul.ul-col-2 {
	padding: 0 0 0 26px;
}
.widget ul.ul-col-2 li {
	float: left;
	margin-right: 12px;
	width: 130px;
}
/* search widget */
.widget_search .widget-title {
	display: none;
}
.widget_search form {
	min-height: 28px;
	position: relative;
}
.widget_search form label,
.widget_search form #s,
.widget_search form #searchsubmit {
	margin: 0;
	position: absolute;
	top: 0;
}
.widget_search form label,
.widget_search form #s {
	font-family: Titillium600, Helvetica, Arial, Verdana, sans-serif;
	font-size: 16px;
}
.widget_search form label {
	left: 0;
	margin-top: 3px;
	padding: 0 10px;
	width: 255px;
	z-index: 10;
}
.widget_search form #s {
	background: none;
	border: 0;
	left: 0;
	margin-top: 5px;
	padding: 0 8px;
	position: absolute;
	top: 0;
	width: 255px;
}
.widget_search form #searchsubmit {
	background: url('../img/search-icon.png') center center no-repeat;
	border: 0;
	border-left: 1px solid #fff;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 28px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: center;
	text-indent: -9999px;
	top: 0;
	width: 34px;
}

/** Attachment Page
 -------------------------------------------------- */
.attachment-content,
.attachment-next,
.attachment-prev {
	float: left;
	overflow: hidden;
}
.attachment-header,
.attachment-content {
	width: 650px;
}
.attachment-header {
	margin: 0 auto;
}
.attachment-header p {
	margin-top: 0;
}
.attachment-content {
	margin: 0 20px 40px 20px;
}
.attachment-excerpt {
	color: #666;
	font-size: .9em;
}
.attachment-next,
.attachment-prev {
	min-height: 20px;
	width: 150px;
}
.attachment-prev {
	text-align: left;
}
.attachment-next {
	text-align: right;
}
.attachment-next a,
.attachment-prev a,
.attachment-next a img,
.attachment-prev a img {
	display: block;
}
.attachment-next a:hover,
.attachment-prev a:hover {
	border-bottom-color: #999;
 	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.attachment-next a img,
.attachment-prev a img {
	border-bottom: 1px solid #fff;
}


/** Footer
 -------------------------------------------------- */
#footer {
	clear: both;
	font-size: 12px;
	line-height: 18px;
	padding: 35px 0;
}
#footer .credit {
	float: right;
}
#footer a {
	color: #fff;
}
#footer a:hover {
	text-decoration: underline;
}
#footer p {
	margin: 0;
}/** Masthead/Header
 * 
 * Masthead used for the CSS but we are
 * calling it "header" where the user sees
 * most people won't know the term "masthead"
 *
 * Default colors here will be over ridden by
 * the ones choosen in the color settings
 * 
 * These styles are loaded for the front-end and admin-settings screen
 * 
 -------------------------------------------------- */

/** Featured Posts
 -------------------------------------------------- */
.featured {
	background-color: #666;
	border-bottom: 10px solid #666;
	float: left;
	height: 170px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 310px;
}
#featured-post-1 {
	margin-left: 0;
}
.featured.has-featured-img,
.featured.featured-format-gallery {
	border: 0;
	height: 180px;
}
.featured .gallery-img-excerpt li {
	height: 90px;
}

.featured-title {
	background-color: #666;
	color: #fff;
	display: inline-block;
	font-family: 'Titillium600', Helvetica, Arial, Verdana, sans-serif;
	font-size: 18px;
	line-height: 20px;
	margin: 0 10px 9px 0;
	padding: 5px 15px 8px;
}
.featured-content {
	bottom: 0;
	color: #fff;
	left: 0;
	padding: 15px 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}
.featured-description, 
.featured-description p {
	font-size: 14px;
	line-height: 20px;
}
.featured-description {
	padding: 0 15px;
}
.featured-description p {
	margin-top: 0;
}

/* featured-link, same size as featured box and overlays everything in it */
.featured-link {
	bottom: 0;
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	text-indent: -999em;
	top: 0;
	z-index: 20;
}
/* featured image */
.featured-img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

/** Post Formats
 -------------------------------------------------- */
/* status and quote */
.featured-format-status .featured-description,
.featured-format-status .featured-description p,
.featured-format-quote .featured-description,
.featured-format-quote .featured-description p {
	font-family: Titillium400, Helvetica, Arial, Verdana, sans-serif;
	font-size: 18px;
	line-height: 25px;
}
/* quote */
.featured-format-quote .featured-content .featured-description {
	background-image: url(../img/quote-white.png);
	background-position: 10px 0px;
	background-repeat: no-repeat;
	padding-left: 36px;
}
/* gallery */
.featured .gallery-img-excerpt {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	z-index: 1;
	/**
	 * Give it a bit more than 100%.
	 * Otherwise we get a sliver of black on the right side from browser round-downs.
	 */
	width: 100.5%;
	zoom: 1;
}
.featured .gallery-img-excerpt li {
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 50%;
}
.featured .gallery-img-excerpt li img {
	display: block;
	height: auto;
	width: 100%;
}
/* video */
.featured-format-video .featured-link {
	background-image: url(../img/play-icon.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.featured-format-video .featured-link:hover {
	background-image: none;
}
.featured-format-video .featured-description {
	display: none;
}
.featured-format-video:hover .featured-description {
	display: block;
}

/** Hover / rollover
 -------------------------------------------------- */
.has-featured-img .featured-description,
.featured-format-gallery .featured-description {
	display: none;
}
.has-featured-img:hover .featured-description,
.featured-format-gallery:hover .featured-description {
	display: block;
}
/* rollover */
.featured:hover .featured-content {
	background-color: rgb(153,153,153); /* fallback for IE */
	background-color: rgba(153,153,153,.9);
	color: #333;
}/** @section Utils
 -------------------------------------------------- */

/* Port social clearfix styles to allow them to work */
#social .social-clearfix:before,
#social .social-clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}
#social .social-clearfix:after {
	clear: both;
}
#social .social-clearfix {
	zoom: 1;
}

#social .social-help,
#social .social-psst {
	font-size: 13px;
	color: #999;
}

#social .social-imr {
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	text-indent: -32000px;
}

/** @section Form
 -------------------------------------------------- */

#respond {
	padding-bottom: 18px;
}
#commentform {
	margin-bottom: 10px;
}
/* Threaded form */
.social-commentlist #respond {
	border-bottom: 1px solid #ddd;
}

/* Comment bar */
#social #reply-title,
#social .comments-title,
#social .nocomments {
	height: 27px;
	margin-bottom: 16px;
	padding: 0 10px;
	font-size: 13px;
	line-height: 27px;
	letter-spacing: 1px;
	margin: 0 0 10px;
	text-transform: uppercase;
}
#social .nocomments {
		display: block;
		font-family: 'Titillium600', Helvetica, Arial, Verdana, sans-serif;
		text-align: center;
}
#social #reply-title #cancel-comment-reply-link {
	font: 12px/30px Helvetica, Arial, Verdana;
	margin-left: 6px;
	text-transform: none;
}

#social .social-input-row,
#social .form-submit {
	margin-bottom: 10px;
	position: relative;
}

#social input.social-input,
#social .social-select {
	width: 320px;
}

#social .social-input-row,
#social .form-submit {
	padding-left: 140px;
}
#social .social-input-row .social-label {
	left: 0;
	position: absolute;
	text-align: right;
	top: 7px;
	width: 120px;
}
#social input.social-input,
#social .social-select {
	width: 320px;
}
#social .social-identity {
	margin-top: 16px;
	position: relative;
}
#social .social-identity .avatar {
	left: 80px;
	position: absolute;
	top: 4px;
}
.logged-in #social .social-commentlist .social-identity .avatar {
	left: -60px;
}

/* Threaded input row */
#social .social-commentlist .social-input-row,
#social .social-commentlist .form-submit {
	padding-left: 0;
}

#social .social-input-row .social-label {
	color: #666;
	display: block;
	font-size: 13px;
	padding-right: 20px;
}

/* Threaded label */
#social .social-commentlist .social-input-row .social-label {
	position: static;
	text-align: left;
	width: auto;
}

#social .social-input,
#social .social-select {
	background: #f8f8f8;
	border: 1px solid #ddd;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
}
#social .social-text {
	margin-right: 5px;
}

#social input.social-input,
#social .social-select {
	padding: 5px 6px;
}

#social .social-input {
	margin-right: 5px;
}
#social input.social-input,
#social .social-select {
	width: 290px;
}

#social textarea.social-input {
	display: block;
	height: 110px;
	padding: 5px 6px;
	width: 96%;
}

/* Submit button and row */
#social .form-submit {
	height: 30px;
	line-height: 30px;
}
#social #submit {
	border: 0;
	color: #fff;
	cursor: pointer;
	display: block;
	float: left;
	font-family: Titillium600, Helvetica, Arial, Verdana, sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 1em;
	margin: 0 10px 0 0;
	padding: 6px 20px 8px;
	text-transform: uppercase;
}

/* Log in buttons */
#social .social-sign-in-links {
	display: block;
	margin: 20px 0;
	text-align: center;
}
#social .social-commentlist .social-sign-in-links {
	padding-left: 0;
}
#social .social-sign-in-links a {
	color: #fff;
	background-image: url(../img/comment-icons-sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	margin: 4px 8px 0 8px;
	padding-left: 35px;
	padding-right: 10px;
	text-indent: 0;
	text-align: center;
}
#social #twitter_signin {
	background-position: 0px -100px;
}
#social #facebook_signin {
	background-position: 0px -150px;
}

#social .social-divider {
	background: url(../img/strike-through.gif) 0 50% repeat-x;
	margin: 15px 0;
	text-align: center;
}
#social .social-divider span {
	background-color: #fff;
	padding: 0 6px;
	margin-left: 20px; /* visual adjustment to line up with buttons */
	font-family: Titillium600, Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 1em;
	text-transform: uppercase;
}

/* Threaded divider */
#social .social-commentlist #respond .social-divider {
	display: none;
}

/* When logged in, visually hide the comment field label
but allow screen readers to see */
.logged-in #social .social-input-row-comment .social-label {
	left: -32000px;
	position: absolute;
}

/** @section Comment Tabs
 -------------------------------------------------- */

#social .social-post-form {
	margin-bottom: 30px;
}
#social .social-nav {
	padding: 1px 0;
}
#social .social-nav,
#social .social-nav li {
	list-style: none;
	margin: 0;
}
#social .social-nav li {
	float: left;
	margin-right: 20px;
	padding: 0;
}
#social .social-nav li a,
#social .social-nav li a span {
	display: block;
	height: 25px;
	line-height: 26px;
}
#social .social-nav .social-all {
	text-align: right;
	width: 110px;
}
#social .social-nav .social-all a span {
	line-height: 25px;
}
#social .social-nav li a span {
	padding-left: 5px;
}
#social .social-nav li a {
	background-image: url(../img/comment-icons-sprite.png);
	background-repeat: no-repeat;
	padding-left: 25px;
}
#social .social-nav .social-all {
	font: normal 13px Titillium600, Helvetica, Arial, Verdana, sans-serif;
	line-height: 30px;
	text-transform: uppercase;
	padding-left: 10px;
}
#social .social-nav .social-all a {
	background: none;
	display: inline;
	padding: 0;
}
#social .social-nav .social-wordpress a {
	background-position: 0px -50px;
}
#social .social-nav .social-twitter a {
	background-position: 0px -100px;
}
#social .social-nav .social-facebook a {
	background-position: 0px -150px;
}
#social .social-nav .social-pingback a {
	background-position: 0px -200px;
}

/** @section Comment List
 -------------------------------------------------- */

#social .social-last-reply-when {
	display: none;
}

#social .social-commentlist {
	line-height: 18px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0 0 30px 0;
	padding: 0;
}

/* Children Comments
 * .social-children is for plugin
 * .children without plugin
 */
#social .children,
#social .social-children {
	margin: 0;
	padding: 0 0 0 50px;
}
#social .children li,
#social .social-children li {
	list-style: none;
	padding: 0;
}

/** @section Comment
 -------------------------------------------------- */

#social .social-posted-when,
#social .social-actions a,
#social .social-actions {
	color: #666;
	font-size: 11px;
}
#social .social-comment {
	border: 0;
	margin: 0;
	padding-left: 140px;
	position: relative;
}
#social .social-comment-inner {
	border-bottom: 1px solid #ddd;
	margin: 0;
	padding: 20px 0;
	position: relative;
}
#social .social-comment .social-comment-header {
	float: left;
	margin: 0 0 0 -140px;
	position: static;
	width: 120px;
}
#social .social-comment .social-comment-header .social-comment-author {
	position: relative;
	margin: 0;
	padding-bottom: 33px;
	text-align: right;
}
#social .social-comment .social-comment-header .social-replied {
	display: none;
}
#social .social-comment .social-comment-header .social-fn {
	display: block;
	font-style: normal;
}
.bypostauthor > .social-comment-inner .social-comment-header .social-comment-author .social-fn {
	font-weight: bold;
}
#social .social-comment .social-comment-header .avatar {
	height: 30px;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 30px;
}
#social .social-posted-when {
	left: 0;
	bottom: 15px;
	position: absolute;
}
#social .social-posted-from {
	background-color: #ddd;
	background-image: url(../img/comment-icons-sprite.png);
	background-repeat: no-repeat;
	height: 16px;
	position: absolute;
	overflow: hidden;
	right: 0;
	text-indent: -32000px;
	top: 20px;
	width: 16px;
}
#social .social-posted-from a {
	display: block;
	height: 16px;
	width: 16px;
}
#social .social-wordpress .social-posted-from {
	background-position: 0px 0px;
}
#social .social-twitter .social-posted-from {
	background-position: -50px 0px;
}
#social .social-facebook .social-posted-from {
	background-position: -100px 0px;
}
#social .social-pingback .social-posted-from {
	background-position: -150px 0px;
}

/* Social Comment Pingback Styles */
#social .social-pingback .social-comment-header {
	float: none;
	margin: 0px;
	padding-right: 15px;
	width: auto;
}
#social .social-pingback .social-comment-header .social-comment-author {
	padding-bottom: 0;
	text-align: left;
}
#social .social-pingback .social-comment-header .social-comment-label {
	color: #b5b5b5;
	display: block;
	float: left;
	margin-left: -140px;
	text-align: right;
	width: 120px;
}
#social .social-pingback .social-comment-header .social-fn {
	margin-bottom: 5px;
}


#social .social-actions {
	display: none;
	bottom: 15px;
	margin: 0;
	position: absolute;
	right: 0;
}
#social .social-comment:hover .social-actions {
	display: block;
}
#social .social-comment .social-comment-body {
	overflow: hidden;
	padding: 0 15px 12px 0;
	width: auto;
}
#social .social-comment .social-comment-body p {
	margin: 0 0 8px 0;
	padding-right: 30px;
}
#social .comment-awaiting-moderation {
	display: inline-block;
	padding: 1px 4px;
	margin-bottom: 8px;
}

/* Comment Collapse */
#social .social-comment-collapse > .social-comment-inner {
	min-height: 18px;
	padding: 10px 0;
}
#social .social-comment-collapse > .social-comment-inner > .social-comment-body,
#social .social-comment-collapse > .social-comment-inner > .social-actions {
	display: none;
}
#social .social-comment-collapse .social-children {
	padding-left: 16px;
}
#social .social-comment-collapse > .social-comment-inner > .social-comment-header {
	filter:alpha(opacity=50);
	opacity: .5;
}
#social .social-comment-collapse > .social-comment-inner > .social-comment-header .social-fn {
	font-size: 12px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#social .social-pingback.social-comment-collapse .social-fn {
	display: none;
}
#social .social-comment-collapse > .social-comment-inner > .social-comment-header > .social-comment-author {
	padding: 0 24px 0 0;
}
#social .social-comment-collapse > .social-comment-inner > .social-comment-header > .social-comment-author img {
	height: 16px;
	right: 0;
	top: 0;
	width: 16px;
}
#social .social-comment-collapse .social-posted-from {
	top: 10px;
}
#social .social-comment-collapse .social-posted-when {
	display: block;
	font-size: 13px;
	bottom: 10px;
}/* --------------------------------------------------
Tablet styles.
Dialed in for iPad in portrait mode, since in landscape mode large screen will suffice.

This file should be included in built css file when in production mode.

Breakpoint:
iPad (portrait)				768
------------------------------------------------------ */

@media only screen and (min-width: 768px) and (max-width: 1009px) {
	.container,
	#primary,
	#secondary {
		width: 708px;
	}
	
	.post .gallery-img-excerpt li {
		margin: 0 0 12px;
		width: 130px;
	}
	.post .gallery-img-excerpt li.gallery-view-all a {
		height: 97px;
		line-height: 97px;
	}
	.post .gallery-img-excerpt .excerpt-img-7 {
		display: none;
	}
	.post .gallery-img-excerpt .excerpt-img-1,
	.post .gallery-img-excerpt .excerpt-img-2,
	.post .gallery-img-excerpt .excerpt-img-3,
	.post .gallery-img-excerpt .excerpt-img-5,
	.post .gallery-img-excerpt .excerpt-img-6,
	.post .gallery-img-excerpt .gallery-view-all {
		margin-left: 15px;
	}
	.post .gallery-img-excerpt .excerpt-img-0,
	.post .gallery-img-excerpt .excerpt-img-4 {
		margin-left: 0;
	}
	
	.single-format-gallery .post-media {
		left: -1px;
		position: relative;
	}
	
	.gallery-thumbs li {
		width: 80px;
		height: 63px;
	}
	
	.featured {
		height: 120px;
		margin-left: 15px;
		width: 226px;
	}
	.featured.has-featured-img,
	.featured.featured-format-gallery {
		height: 130px;
	}
	.featured .gallery-img-excerpt li {
		height: 65px;
	}
	.featured-title {
		font-size: 16px;
		line-height: 18px;
		padding: 6px 13px 4px;
	}
	
	#masthead {
		padding: 16px 0 20px;
	}
	
	#header .container {
		padding-top: 30px;
	}
	
	.sidebar {
		float: left;
		margin-left: 15px;
		width: 226px;
	}
	#sidebar-1 {
		margin-left: 0;
	}
	
	/* full page with no sidebar */
	.page-full {
		padding: 0 140px;
	}
	
	/* Let's pull things off the side */
	.page-full .alignleft.pull {
		margin-left: -140px;
	}
	.page-full .alignright.pull {
		margin-right: -140px;
	}
}/* --------------------------------------------------
Mobile styles
This file should be included in the built CSS output when in production mode.

Breakpoints:
iPhone (portrait)			320
iPhone (landscape)			480
iPad (portrait)				768
-------------------------------------------------- */

/* iPhone portrait and landscape shared edge-case styles */
@media only screen and (max-width: 767px) {
	.format-status .post-header,
	.format-quote .post-header {
		float: none;
		width: auto;
		padding-top: 0;
	}
	
	.post-title,
	.post-media,
	.post-content {
		margin-left: 0;
	}
	.post-title {
		margin-bottom: 5px;
	}
	.post-date {
		position: static;
		text-align: left;
		width: auto;
	}
	
	.post-meta {
		float: none;
		width: auto;
		margin-right: 0;
		text-align: left;
	}
	.single .format-status .post-meta,
	.single .format-quote .post-meta {
		margin-top: 0;
	}
	
	.post .gallery-img-excerpt li {
		margin: 0 0 7px 0;
	}
	
	.home .post-media,
	.archive .post-media {
		margin-bottom: 10px;
	}
	
	/* Override h1 hiding when in menu mode */
	#nav-main h1 {
		position: static;
		left: auto;
	}
	#nav-main .menu {
		border: 3px solid transparent;
		border-top: 0;
		/* bg and border colors set in header */
		-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
		-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
		box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
		/* Hide until activated */
		display: none;
		left: -3px;
		padding: 4px 0;
		position: absolute;
		right: -3px;
		z-index: 999;
	}
	#nav-main .menu.open {
		display: block;
	}
	#nav-main .menu li {
		display: block;
		margin: 0;
	}
	#nav-main a,
	#nav-main li.current-menu-item > a {
		padding: 4px 10px;
	}

	/* Reset dropdowns */
	#nav-main .menu > li {
		height: auto;
	}
	#nav-main .sub-menu {
		border: 0;
		-moz-box-shadow: none; /* FF3.5+ */
		-webkit-box-shadow: none; /* Saf3+, Chrome */
		box-shadow: none; /* Standard. Opera 10.5, IE9 */
		display: block;
		font-family: Titillium600, Helvetica, Arial, Verdana, sans-serif;
		position: static;
		top: auto;
		text-transform: uppercase;
		right: auto;
		width: auto;
	}
	#nav-main .sub-menu {
		padding-left: 16px;
	}
	#nav-main .sub-menu li.current-menu-item > a {
		border: 0;
	}

	#nav-main h1 {
		border-bottom: 3px solid transparent;
		display: inline-block; /* Standard. IE8+, Saf, FF3+ */
		height: 20px;
	}
	
	#masthead {
		padding: 11px 0 15px;
	}
	
	#footer .credit {
		float: none;
	}
	
	#social .social-comment {
		padding-left: 0;
	}
	#social .social-comment-inner {
		padding: 20px 0 20px 40px;
	}
	#social .social-comment .social-comment-header {
		float: none;
		margin: 0;
		width: auto;
	}
	#social .social-comment .social-comment-header .avatar {
		bottom: auto;
		left: 0;
		right: auto;
		top: 23px;
	}
	#social .social-comment .social-comment-header .social-comment-author {
		position: static;
		padding-bottom: 0;
		text-align: left;
	}
	#social .social-posted-when {
		left: auto;
	}
	
	#social .social-pingback .social-comment-header .social-comment-label {
		display: none;
	}
	
	#social .children,
	#social .social-children {
		padding-left: 15px;
	}
	
	#social .social-identity {
		padding-left: 50px;
	}
	#social .social-identity .avatar,
	.logged-in #social .social-commentlist .social-identity .avatar {
		left: 0px;
	}
	
	#social .social-comment-collapse > .social-comment-inner {
		padding: 10px 0 10px 26px;
	}
	
	#social .social-comment-collapse > .social-comment-inner > .social-comment-header > .social-comment-author img {
		left: 0;
		right: auto;
		top: 10px;
	}
	
	#social .social-nav .social-all {
		text-align: left;
		width: auto;
	}
	#social .social-nav .social-wordpress a span,
	#social .social-nav .social-twitter a span,
	#social .social-nav .social-facebook a span,
	#social .social-nav .social-pingback a span,
	#social .social-comment-collapse .social-posted-when {
		display: none;
	}
	
	#social input.social-input,
	#social .social-select {
		width: 96%;
	}
	#social .social-input-row,
	#social .form-submit {
		padding-left: 0;
	}
	#social .social-input-row .social-label {
		position: static;
		text-align: left;
		width: auto;
	}
}

/* iPhone portrait */
@media only screen and (max-width: 479px) {
	.container,
	#primary,
	#secondary {
		width: 300px;
	}
	/* Hide last 2 by default (brought back in with media queries) */
	#featured-post-2,
	#featured-post-3 {
		display: none;
	}
	.gallery-thumbs {
		width: 310px;
	}
	.gallery-thumbs li {
		height: 52px; /* 63px */
		width: 67px; /* 80px */
	}
	
	.featured {
		height: 164px;
		width: 300px;
	}
	.featured.has-featured-img,
	.featured.featured-format-gallery {
		border: 0;
		height: 174px;
	}
	.featured .gallery-img-excerpt li {
		height: 87px;
	}
	
	.post .gallery-img-excerpt li {
		width: 145px;
	}
	.post .gallery-img-excerpt li.gallery-view-all a {
		height: 108px;
		line-height: 108px;
	}
	.post .gallery-img-excerpt .excerpt-img-7 {
		display: none;
	}
	.post .gallery-img-excerpt .excerpt-img-1,
	.post .gallery-img-excerpt .excerpt-img-3,
	.post .gallery-img-excerpt .excerpt-img-5,
	.post .gallery-img-excerpt .excerpt-img-8,
	.post .gallery-img-excerpt .gallery-view-all {
		margin-left: 10px;
	}
	.post .gallery-img-excerpt .excerpt-img-0,
	.post .gallery-img-excerpt .excerpt-img-2,
	.post .gallery-img-excerpt .excerpt-img-4,
	.post .gallery-img-excerpt .excerpt-img-6 {
		margin-left: 0;
	}
}

/* iPhone Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container,
	#primary,
	#secondary {
		width: 460px;
	}
	
	/**
	 * Modify post galleries (3 col)
	 */
	.post .gallery-img-excerpt li {
		width: 146px;
		margin: 0 0 7px 0;
	}
	.post .gallery-img-excerpt li.gallery-view-all a {
		height: 109px;
		line-height: 109px;
	}
	.post .gallery-img-excerpt .excerpt-img-7 {
		display: block;
	}
	.post .gallery-img-excerpt .excerpt-img-1,
	.post .gallery-img-excerpt .excerpt-img-2,
	.post .gallery-img-excerpt .excerpt-img-4,
	.post .gallery-img-excerpt .excerpt-img-5,
	.post .gallery-img-excerpt .excerpt-img-7,
	.post .gallery-img-excerpt .gallery-view-all {
		margin-left: 10px;
	}
	.post .gallery-img-excerpt .excerpt-img-0,
	.post .gallery-img-excerpt .excerpt-img-3,
	.post .gallery-img-excerpt .excerpt-img-6 {
		margin-left: 0;
	}
	
	.gallery-thumbs {
		width: 470px;
	}
	.gallery-thumbs li {
		width: 84px;
		height: 66px;
	}
	
	.featured {
		height: 118px;
		margin-left: 15px;
		width: 222px;
	}
	.featured.has-featured-img,
	.featured.featured-format-gallery {
		height: 128px;
	}
	.featured-description, 
	.featured-description p {
		font-size: 12px;
		line-height: 17px;
	}
	.featured .gallery-img-excerpt li {
		height: 64px;
	}
	#featured-post-3 {
		display: none;
	}
	
	.widget.bio-box {
		margin: 0 auto 30px;
		max-width: 310px;
	}
}