/* --------------------------------------------------
 * Content - Posts, Pages, Comments
-------------------------------------------------- */

/** Header
 -------------------------------------------------- */
#header .container {
	padding-top: 40px;
	position: relative;
}
#header #site-name {
	font-size: 30px;
	line-height: 37px;
	margin: 0;
}

/**
 * Visually hide h1 in header by default. Leave it readable by screen readers for accessibility.
 * This is reset by mobile styles to create a menu.
 */
#nav-main h1 {
	position: absolute;
	left: -999em;
}

/* Menu */
#nav-main h1,
#nav-main ul {
	font-family: Titillium600, Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 1em;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#nav-main .menu > li {
	border-bottom: 3px solid transparent;
	display: inline-block;
	height: 23px;
	line-height: normal;
	margin: 8px 0 0 20px;
	padding: 0 0 2px 0;
	position: relative;
	vertical-align: top;
}
/* inline block fix for IE6 and IE7 */
html.ie6 #nav-main .menu > li,
html.ie7 #nav-main .menu > li {
	display: inline;
	zoom: 1;
}
#nav-main li:first-child {
	margin-left: 0;
}
#nav-main a {
	display: block;
}
/* Dropdown Menus */
#nav-main .sub-menu {
	border: 3px solid transparent;
	border-top: 0;
	/* bg and border colors set in header */
	box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	display: none;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	right: -3px;
	padding: 5px 0 3px 0;
	position: absolute;
	text-align: left;
	text-transform: none;
	top: 28px;
	min-width: 140px;
	width: 120%;
	z-index: 99999;
}
#nav-main .sub-menu li {
	border-bottom: 0;
	display: block;
	height: auto;
	margin: 3px 0;
	padding: 0;
}
#nav-main .sub-menu a {
	display: block;
	font-weight: normal;
	height: auto;
	letter-spacing: 0;
	line-height: 1.2em;
	padding: 4px 10px;
}
#nav-main li:hover > .sub-menu {
	display: block;
}
#nav-main .sub-menu .current-menu-item a {
	padding-left: 7px;
	padding-right: 7px;
}
#nav-main .sub-menu li.current-menu-item > a {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}

/** Masthead - also see masthead.css
 -------------------------------------------------- */
#masthead {
	min-height: 10px;
	padding: 36px 0 41px 0; /* top = 40px with header border */
}

/** Content - wraps body and sidebar
 -------------------------------------------------- */
#content {
	background-color: #fff;
	padding: 40px 0;
}
.ie7 #content {
	zoom: 1;
}

/** Posts Default
 -------------------------------------------------- */
#content .post,
#content .page {
	margin-bottom: 30px;
	overflow: hidden;
}

/* entry-header */
.entry-header {
	min-height: 28px; /*in case of no title*/
	padding-left: 140px;
	position: relative;
}
.entry-title,
.entry-date {
	font-family: Titillium400, Helvetica, Arial, Verdana, sans-serif;
	margin: 0;
}
.entry-date {
	display: block;
	font-size: 16px;
	letter-spacing: -1px;
	line-height: 20px;
	text-align: right;
	width: 120px;
	color: #ccc;
}
.entry-date a {
	padding-right: 1px; fixes text crop issue for IE8
}
.entry-header .entry-date {
	position: absolute;	
	top: 8px;
	left: 0;
}
.entry-date a,
.entry-date a:visited {
	color: #ccc;
}
.single .entry-title,
.page .entry-title {
	font-size: 30px;
	line-height: 32px;
}
.single .entry-header .entry-date {
	top: 14px;
}

/* entry-media - images, gallery, video */
.entry-media {
	margin-top: 18px;
	padding-left: 140px;
}
.format-image .entry-media,
.format-gallery .entry-media,
.format-video .entry-media {
	margin-bottom: 10px;
}
.excerpt.format-image .entry-media {
	margin-bottom: -4px;
}
.excerpt.format-gallery .entry-media {
	margin-bottom: 0;
}
.excerpt.format-video .entry-media {
	margin-bottom: 4px;
}
.entry-media a {
	display: inline-block;
	border-bottom: 2px solid #fff;
}
.entry-media a img {
	display: block;
	border-bottom: 1px solid #fff;
}

/* entry content */
.entry-content {
	float: right;
	width: 510px;
	overflow: hidden;
}
.single .format-image .entry-content,
.single .format-gallery .entry-content,
.single .format-video .entry-content {
	width: 710px;
	margin-right: 140px;
}

/* entry meta */
.entry-meta {
	color: #ccc;
	overflow: hidden;
	padding-top: 1px;
	text-align: right;
	width: 120px;
}
.entry-meta span.h6 {
	display: block;
}
.entry-meta a {
	color: #999;
}


/** Status and Quote Post Format
 -------------------------------------------------- */
/* shared */
.format-status .entry-date,
.format-quote .entry-date {
	float: left;
	margin-bottom: 2px;
	margin-top: 5px;
}
.format-status .entry-content,
.format-quote .entry-content blockquote {
	color: #666;
	font-family: Titillium400, Helvetica, Arial, Verdana, sans-serif;
	font-size: 20px;
	line-height: 26px;
}
.format-status .entry-content p,
.format-quote .entry-content blockquote p {
	margin: 0 0 1em;
}
.single .format-status .entry-content,
.single .format-quote .entry-content blockquote {
	font-size: 24px;
	line-height: 32px;
}
.single .format-status .entry-date,
.single .format-quote .entry-date {
	margin-top: 11px;
}
/* status */
.post-status-meta {
	color: #ccc;
	font-size: 12px;
	margin-top: -10px;
	text-transform: lowercase;
}
.post-status-meta a {
	color: #999;
}
/* quote */
.format-quote .entry-content blockquote {
	border-left: 0; /*over rides default*/
	background: url(../img/quote.png) 0 2px no-repeat;
	margin: 0;
	padding: 0 0 0 26px;
	zoom: 1;
}
.format-quote-attribution {
	margin-left: 120px;
	margin-right: 30px;
}

/** Link Post Format
 -------------------------------------------------- */
.link-screenshot {
	display: block;
	border-bottom: 2px solid #fff;
	float: left;
	margin: 3px 15px 0 0;
}
.link-screenshot img {
	display: block;
	border-bottom: 1px solid #fff;
}


/** Gallery Post Format
 -------------------------------------------------- */
/* excerpts */
.post .gallery-img-excerpt {
	list-style: none;
	margin: 0;
	padding: 0;
}
.post .gallery-img-excerpt li {
	float: left;
	width: 160px;
	margin: 0 0 12px;
}
.post .gallery-img-excerpt li.gallery-view-all a {
	height: 120px;
	line-height: 120px;
}
.post .gallery-img-excerpt .excerpt-img-1,
.post .gallery-img-excerpt .excerpt-img-2,
.post .gallery-img-excerpt .excerpt-img-4,
.post .gallery-img-excerpt .excerpt-img-5,
.post .gallery-img-excerpt .excerpt-img-7,
.post .gallery-img-excerpt .excerpt-img-8,
.post .gallery-img-excerpt .gallery-view-all {
	margin-left: 15px;
}
.post .gallery-img-excerpt .excerpt-img-0,
.post .gallery-img-excerpt .excerpt-img-3,
.post .gallery-img-excerpt .excerpt-img-6 {
	margin-left: 0;
}
.post .gallery-img-excerpt li a,
.post .gallery-img-excerpt li img {
	display: block;
}
.post .gallery-img-excerpt li a:hover {
	border-bottom-color: #999;
 	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.post .gallery-img-excerpt li a img {
	border-bottom: 1px solid #fff;
}
.post .gallery-img-excerpt li.gallery-view-all a {
	border: 0;
	display: block;
	height: 120px;
	line-height: 120px;
	text-align: center;
	width: 100%;
}
/* fix for space between gallery excerpt and excerpt/meta */
.format-gallery.excerpt p {
	margin-top: 0;
}
.format-gallery.excerpt .entry-media {
	padding-bottom: 3px;
}

/* single/full */
.gallery-stage {
	height: 400px;
	overflow: hidden;
	width: 100%;
}
.js .gallery-stage {
	cursor: pointer;
}
.gallery-stage figcaption {
	background-color: rgba(0, 0, 0, .6);
	bottom: -100px;
	color: #fff;
	font-size: 13px;
	line-height: 18px;
	margin: 0;
	padding: 10px;
	position: absolute;
	width: 100%;
	z-index: 5;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.oldie .gallery-stage figcaption {
	background-color: #000;
}
.gallery-stage figcaption .title {
	margin: 0;
}
.gallery-stage figcaption .caption {
	margin-bottom: 0;
	margin-top: 8px;
}
.gallery-stage figure.init figcaption,
.gallery-stage:hover figcaption {
	bottom: 0;
}
.gallery-thumbs {
	list-style-type: none;
	margin: 3px -10px 0 0;
	max-width: 720px;
	padding: 0;
}
.gallery-thumbs li {
	display: block;
	float: left;
	height: 63px; /* 63px */
	margin: 7px 10px 0 0;
	padding: 0;
	width: 80px; /* 80px */
}
.gallery-thumbs a,
.gallery-thumbs img {
	display: block;
}
.gallery-thumbs img {
	width: 100%;
}
.gallery-thumbs a.activated,
.gallery-thumbs a:hover {
	border-bottom-color: #999;
 	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.gallery-thumbs a img {
	border-bottom: 1px solid #fff;
}
.gallery .loading {
	background-color: rgba(0, 0, 0, .8);
	bottom: 0;
	color: #fff;
	font-size: 12px;
	left: 0;
	line-height: 2.5em;
	position: absolute;
	padding: 0 12px;
	right: 0;
	text-align: center;
	z-index: 5;
}


/** Pages
 -------------------------------------------------- */
.page-header {
	clear: both;
	position: relative;
	margin-bottom: 15px;
	width: 100%;
}
.page-title {
	letter-spacing: -1px;
	line-height: 1.2em;
	margin: 0;
}
#primary .heading {
	margin-bottom: 40px;
}
#primary .heading .page-title {
	font-size: 18px;
	padding: 5px 10px 7px 10px;
}
#primary .heading-description {
	border-top: #fff solid 1px;
	padding: 0 10px 5px 10px;
}
#primary .heading-description p {
	margin: 5px 0 0;
}
.page-title em {
	font-style: normal;
}
.page-date {
	color: #ccc;
	bottom: 4px;
	font-family: Titillium400, Helvetica, Arial, Verdana, sans-serif;
	font-size: 20px;
	left: 0;
	letter-spacing: -1px;
	position: absolute;
}

/* search results */
.search-title {
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 28px;
	text-transform: uppercase;
	margin: 0 0 30px 0;
	padding: 0 10px;
}
.search-title em {
	font-style: normal;
}


/** Sidebar
 -------------------------------------------------- */
/* Sidebar Footer - split sidebar section into columns */
#secondary-full {
	margin-top: 60px;
}

/* bio-box */
.widget.bio-box {
	margin-bottom: 30px;
}
.widget .bio-box-gallery {
	height: 180px;
	overflow: hidden;
	position: relative;
}
.widget .bio-box-gallery a.bio-carousel-nav {
	background: url(../img/bio-scroller-btns.png) 0 0 no-repeat;
	height: 46px;
	line-height: 30px;
	overflow: hidden;
	position: absolute;
	top: 67px;
	text-indent: -9999px;
	width: 30px;
	z-index: 9999;
}
.widget .bio-box-gallery a#bio-carousel-prev {
	background-position: 0px 0px;
	left: 5px;
}
.widget .bio-box-gallery a#bio-carousel-next {
	background-position: -30px 0px;
	right: 5px;
}
.widget .bio-box-content {
	border-bottom: 1px solid #fff;
	padding: 15px 20px 17px 20px;
}
.widget .bio-box-title {
	font-size: 21px;
	margin: 3px 0 0 0;
}
.widget .bio-box-content p {
	margin: 8px 0 0 0;
}
.widget .bio-box-links {
	padding: 15px 15px 10px 20px;
}
.widget .bio-box-links ul,
.widget .bio-box-links li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.widget .bio-box-links li {
	position: relative;
	margin-bottom: 5px;
}
.widget .bio-box-links li img {
	vertical-align: top;
}
.widget .bio-box-links li .bio-tooltip {
	background: url(../img/bio-tooltip.png) center 0 no-repeat;
	font-size: 11px;
	font-weight: normal;
	height: 25px;
	left: 0;
	padding: 2px 6px 0;
	position: absolute;
	top: -26px;
	visibility: hidden;
	white-space: nowrap;
}
.widget .bio-box-links li:hover .bio-tooltip,
.widget .bio-box-links li.hover .bio-tooltip {
	visibility: visible;
}
.widget .bio-box-links ul li,
.widget .bio-box-links ul li a {
	display: block;
	float: left;
}
.widget .bio-box-links ul li {
	height: 20px;
	margin-right: 5px;
}
.widget .bio-box-links ul li a {
	background-color: #fff;
	border: 2px solid #fff;
	height: 16px;
	width: 16px;
}
/* widgets */
.widget {
	font-size: 13px;
	line-height: 18px;
	margin: 0 0 25px 0;
}
.widget-title {
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 27px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding: 0 10px;
}
.widget ul {
	list-style-type: none;
	margin: 0;
	padding: 0 11px;
}
.widget ul li {
	background: url(../img/list-style-image.gif) 0 7px no-repeat;
	margin: 5px 0 0 0;
	padding-left: 10px;
}
.widget ul.ul-col-2 {
	padding: 0 0 0 26px;
}
.widget ul.ul-col-2 li {
	float: left;
	margin-right: 12px;
	width: 130px;
}
/* search widget */
.widget_search .widget-title {
	display: none;
}
.searchform {
	min-height: 28px;
	position: relative;
	max-width: 310px;
}
.searchform label,
.searchform #s,
.searchform #searchsubmit {
	margin: 0;
	position: absolute;
	top: 0;
}
.searchform label,
.searchform #s {
	font-family: Titillium600, Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 27px;
	height: 27px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}
.searchform #s,
.searchform #searchsubmit {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}
.searchform label {
	left: 0;
	margin-top: 1px;
	padding: 0 10px;
	width: 255px;
	z-index: 10;
}
.searchform #s {
	background: none;
	border: 0;
	left: 0;
	margin-top: 1px;
	padding: 0 8px;
	position: absolute;
	top: 0;
	width: 255px;
}
.searchform #searchsubmit {
	background: url('../img/search-icon.png') center center no-repeat;
	border: 0;
	border-left: 1px solid #fff;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 28px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: center;
	text-indent: -9999px;
	top: 0;
	width: 34px;
}

/** Attachment Page
 -------------------------------------------------- */
.attachment-content,
.attachment-next,
.attachment-prev {
	float: left;
	overflow: hidden;
}
.attachment-header,
.attachment-content {
	width: 650px;
}
.attachment-header {
	margin: 0 auto;
}
.attachment-header p {
	margin-top: 0;
}
.attachment-content {
	margin: 0 20px 40px 20px;
}
.attachment-excerpt {
	color: #666;
	font-size: .9em;
}
.attachment-next,
.attachment-prev {
	min-height: 20px;
	width: 150px;
}
.attachment-prev {
	text-align: left;
}
.attachment-next {
	text-align: right;
}
.attachment-next a,
.attachment-prev a,
.attachment-next a img,
.attachment-prev a img {
	display: block;
}
.attachment-next a:hover,
.attachment-prev a:hover {
	border-bottom-color: #999;
 	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.attachment-next a img,
.attachment-prev a img {
	border-bottom: 1px solid #fff;
}


/** Footer
 -------------------------------------------------- */
#footer {
	clear: both;
	font-size: 12px;
	line-height: 18px;
	padding: 35px 0;
}
#footer .credit {
	float: right;
}
#footer a {
	color: #fff;
}
#footer a:hover {
	text-decoration: underline;
}
#footer p {
	margin: 0;
}