/* --------------------------------------------------
 * Content - Posts, Pages, Comments
-------------------------------------------------- */

.container {
	margin: 0 auto;
}

/** Header
 -------------------------------------------------- */
#header .container {
	padding-top: 25px;
	position: relative;
}
#header h1 {
	line-height: 1.3em;
	margin: 0;
}

/**
 * Visually hide h1 in header by default. Leave it readable by screen readers for accessibility.
 * This is reset by mobile styles to create a menu.
 */
#nav-main h1 {
	position: absolute;
	left: -999em;
}

/* Menu */
#nav-main h1,
#nav-main ul {
	font-family: Titillium600, Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 1em;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#nav-main .menu > li {
	border-bottom: 3px solid transparent;
	display: inline-block;
	height: 20px;
	margin: 10px 0 0 20px;
	padding: 0;
	position: relative;
	vertical-align: top;
}
/* inline block fix for IE6 and IE7 */
html.ie6 #nav-main .menu > li,
html.ie7 #nav-main .menu > li {
	display: inline;
	zoom: 1;
}
#nav-main li:first-child {
	margin-left: 0;
}
#nav-main a {
	display: block;
}
/* Dropdown Menus */
#nav-main .sub-menu {
	border: 3px solid transparent;
	border-top: 0;
	/* bg and border colors set in header */
	box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	display: none;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	right: -3px;
	padding: 5px 0 3px 0;
	position: absolute;
	text-align: left;
	text-transform: none;
	top: 23px;
	min-width: 140px;
	width: 120%;
	z-index: 99999;
}
#nav-main .sub-menu li {
	border-bottom: 0;
	display: block;
	height: auto;
	margin: 3px 0;
	padding: 0;
}
#nav-main .sub-menu a {
	display: block;
	font-weight: normal;
	height: auto;
	letter-spacing: 0;
	line-height: 1.2em;
	padding: 4px 10px;
}
#nav-main li:hover > .sub-menu {
	display: block;
}
#nav-main li.current-menu-item > a {
	padding-left: 7px;
	padding-right: 7px;
}
#nav-main .sub-menu li.current-menu-item > a {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}

/** Masthead - also see masthead.css
 -------------------------------------------------- */
#masthead {
	min-height: 10px;
	padding: 36px 0 41px 0; /* top = 40px with header border */
}


/** Content - wraps body and sidebar
 -------------------------------------------------- */
#content {
	background-color: #fff;
	padding: 40px 0;
}
.ie7 #content {
	zoom: 1;
}

/** Posts Default
 -------------------------------------------------- */
.post,
.page {
	margin-bottom: 40px;
	position: relative;
}

/* post-header */
.post-header {
	clear: both;
	margin-bottom: 7px;
	zoom: 1;
}
.post-title {
	font-family: Titillium400, Helvetica, Arial, Verdana, sans-serif;
	margin: 0;
}
.home .post-title,
.archive .post-title {
	font-size: 24px;
	line-height: 28px;
}
.post-date {
	color: #ccc;
	font-family: Titillium400, Helvetica, Arial, Verdana, sans-serif;
	font-size: 16px;
}
.post-date a {
	color: #ccc;
}

/* post-media - wraps featured images, gallery, video */
.single .post-media {
	margin: 20px 0 25px 0;
}
.post-media a {
	display: inline-block;
	border-bottom: 2px solid #fff;
}
.post-media a img {
	display: block;
	border-bottom: 1px solid #fff;
}
.home .post-media,
.archive .post-media {
	padding-bottom: 2px;
	padding-right: 0;
	padding-top: 5px;
}

/* Post meta
Put post info in an empty left-hand column */
.post-title,
.post-media,
.post-content {
	margin-left: 140px;
}
.post-date,
.post-meta,
.post-meta p {
	display: block;
}
.post-header .post-date,
.post-header .post-meta,
.post-header .post-meta p {
	display: inline;
}

.post-date {
	left: 0;
	line-height: 30px;
	letter-spacing: -1px;
	position: absolute;
	text-align: right;
	top: 4px;
	width: 120px;
}
.home .post-date,
.archive .post-date {
	top: 0;
}

.post-meta {
	color: #ccc;
	float: left;
	font-size: 12px;
	margin-right: 20px;
	padding-bottom: 15px;
	padding-top: 3px;
	overflow: hidden;
	text-align: right;
	width: 120px;
}
.post-header .post-meta {
	padding-top: 8px;
}
.post-meta p {
	vertical-align: baseline;
	margin-bottom: 0;
}
.post-meta a {
	color: #999;
}
.post-meta .post-meta-replies {
	margin-top: 0;
}
.excerpt .post-meta .post-meta-replies {
	margin: 0 0 0 8px;
}

.post-meta .post-meta-title {
	margin: 10px 0 0 0;
}
.post-meta ul {
	list-style-type: none;
}

.single .format-status .post-meta,
.single .format-quote .post-meta {
	margin-top: 40px;
}

.format-status .post-header,
.format-quote .post-header {
	width: 140px;
	float: left;
	position: relative;
	padding-top: 25px;
}

/** Gallery Post Format
 -------------------------------------------------- */
/* excerpts */
.post .gallery-img-excerpt {
	list-style: none;
	margin: 0;
	padding: 0;
}
.post .gallery-img-excerpt li {
	float: left;
	width: 160px;
	margin: 0 0 12px;
}
.post .gallery-img-excerpt li.gallery-view-all a {
	height: 120px;
	line-height: 120px;
}
.post .gallery-img-excerpt .excerpt-img-1,
.post .gallery-img-excerpt .excerpt-img-2,
.post .gallery-img-excerpt .excerpt-img-4,
.post .gallery-img-excerpt .excerpt-img-5,
.post .gallery-img-excerpt .excerpt-img-7,
.post .gallery-img-excerpt .gallery-view-all {
	margin-left: 15px;
}
.post .gallery-img-excerpt .excerpt-img-0,
.post .gallery-img-excerpt .excerpt-img-3,
.post .gallery-img-excerpt .excerpt-img-6 {
	margin-left: 0;
}
.post .gallery-img-excerpt li a,
.post .gallery-img-excerpt li img {
	display: block;
}
.post .gallery-img-excerpt li a:hover {
	border-bottom-color: #999;
 	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.post .gallery-img-excerpt li a img {
	border-bottom: 1px solid #fff;
}
.post .gallery-img-excerpt li.gallery-view-all a {
	border: 0;
	display: block;
	height: 120px;
	line-height: 120px;
	text-align: center;
	width: 100%;
}

/* single/full */
.gallery-stage {
	height: 400px;
	overflow: hidden;
	width: 100%;
}
.js .gallery-stage {
	cursor: pointer;
}
.gallery-thumbs {
	list-style-type: none;
	margin: 3px 0 0;
	width: 720px;
}
.gallery-thumbs li {
	background-color: #ddd;
	display: block;
	float: left;
	height: 63px; /* 63px */
	margin: 7px 10px 0 0;
	padding: 0;
	width: 80px; /* 80px */
}
.gallery-thumbs a,
.gallery-thumbs img {
	display: block;
}
.gallery-thumbs img {
	width: 100%;
}
.gallery-thumbs a.activated,
.gallery-thumbs a:hover {
	border-bottom-color: #999;
 	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.gallery-thumbs a img {
	border-bottom: 1px solid #fff;
}
.gallery .loading {
	background-color: rgba(0, 0, 0, .8);
	color: #fff;
	font-size: 12px;
	left: 0;
	line-height: 2.5em;
	position: absolute;
	padding: 0 12px;
	right: 0;
	text-align: center;
	bottom: 0;
	z-index: 5;
}

/** Status and Quote Post Format
 -------------------------------------------------- */
/* shared */
.format-status,
.format-quote {
	margin-bottom: 50px;
}
.post-status-content,
.format-quote .post-content blockquote {
	border: 0;
	color: #666;
	font-family: Titillium400, Helvetica, Arial, Verdana, sans-serif;
	font-size: 20px;
}
.post-status-content,
.format-quote .post-content blockquote,
.format-status .post-date,
.format-quote .post-date {
	line-height: 28px;
}
.format-status .post-date,
.format-quote .post-date {
	top: 0;
}
.single .post-status-content,
.single .format-quote .post-content blockquote {
	font-size: 26px;
}
.single .post-status-content,
.single .format-quote .post-content blockquote,
.single .format-status .post-date,
.single .format-quote .post-date {
	line-height: 34px;
}
/* status */
.post-status-meta {
	color: #ccc;
	font-size: 12px;
	margin-top: -10px;
	text-transform: lowercase;
}
.post-status-meta a {
	color: #999;
}
/* quote */
.format-quote .post-content blockquote {
	background: url(../img/quote.png) 0 2px no-repeat;
	margin: 0;
	padding: 0 0 0 26px;
	zoom: 1;
}
.format-quote-attribution {
	margin-left: 120px;
	margin-right: 30px;
}

/** Link Post Format
 -------------------------------------------------- */
.link-screenshot {
	display: block;
	border-bottom: 2px solid #fff;
	float: left;
	margin-right: 15px;
}
.link-screenshot img {
	display: block;
	border-bottom: 1px solid #fff;
}

/** Pages
 -------------------------------------------------- */
.page {
	margin-bottom: 40px;
}
.page-header {
	clear: both;
	position: relative;
	margin-bottom: 15px;
	width: 100%;
}
.page-title {
	line-height: 1.2em;
	margin: 0;
}
.page-title {
	letter-spacing: -1px;
}
.page-title em {
	color: #ff0000;
	font-style: normal;
}
.page-date {
	color: #ccc;
	bottom: 4px;
	font-family: Titillium400, Helvetica, Arial, Verdana, sans-serif;
	font-size: 20px;
	left: 0;
	letter-spacing: -1px;
	position: absolute;
}


/* search results */
.search-title {
	margin: 0 0 30px 0;
	padding: 6px 10px 3px 10px;
}
.search-title em {
	font-style: normal;
}


/** Sidebar
 -------------------------------------------------- */
/* Sidebar Footer - split sidebar section into columns */
#secondary-full {
	margin-top: 60px;
}

/* bio-box */
.widget.bio-box {
	margin-bottom: 30px;
}
.widget .bio-box-gallery {
	height: 180px;
	overflow: hidden;
	position: relative;
}
.widget .bio-box-gallery a.bio-carousel-nav {
	background: url(../img/bio-scroller-btns.png) 0 0 no-repeat;
	height: 46px;
	line-height: 30px;
	overflow: hidden;
	position: absolute;
	top: 67px;
	text-indent: -9999px;
	width: 30px;
	z-index: 9999;
}
.widget .bio-box-gallery a#bio-carousel-prev {
	background-position: 0px 0px;
	left: 5px;
}
.widget .bio-box-gallery a#bio-carousel-next {
	background-position: -30px 0px;
	right: 5px;
}
.widget .bio-box-content {
	border-bottom: 1px solid #fff;
	padding: 15px 20px 17px 20px;
}
.widget .bio-box-title {
	font-size: 21px;
	margin: 3px 0 0 0;
}
.widget .bio-box-content p {
	margin: 8px 0 0 0;
}
.widget .bio-box-links {
	padding: 15px 15px 15px 20px;
}
.widget .bio-box-links ul,
.widget .bio-box-links li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.widget .bio-box-links li {
	position: relative;
}
.widget .bio-box-links li .bio-tooltip {
	background: url(../img/bio-tooltip.png) center 0 no-repeat;
	font-size: 11px;
	font-weight: normal;
	height: 25px;
	left: 0;
	padding: 2px 6px 0;
	position: absolute;
	top: -26px;
	visibility: hidden;
	white-space: nowrap;
}
.widget .bio-box-links li:hover .bio-tooltip,
.widget .bio-box-links li.hover .bio-tooltip {
	visibility: visible;
}
.widget .bio-box-links ul li,
.widget .bio-box-links ul li a {
	display: block;
	float: left;
}
.widget .bio-box-links ul li {
	height: 20px;
	margin-right: 5px;
}
.widget .bio-box-links ul li a {
	background-color: #fff;
	border: 2px solid #fff;
	height: 16px;
	width: 16px;
}
/* widgets */
.widget {
	font-size: 13px;
	line-height: 18px;
	margin: 0 0 25px 0;
}
.widget-title {
	margin: 0 0 10px 0;
	padding: 3px 10px 6px;
}
.widget ul {
	list-style-type: none;
	margin: 0;
	padding: 0 11px;
}
.widget ul li {
	background: url(../img/list-style-image.gif) 0 7px no-repeat;
	margin: 5px 0 0 0;
	padding-left: 10px;
}
.widget ul.ul-col-2 {
	padding: 0 0 0 26px;
}
.widget ul.ul-col-2 li {
	float: left;
	margin-right: 12px;
	width: 130px;
}
/* search widget */
.widget_search .widget-title {
	display: none;
}
.widget_search form {
	min-height: 28px;
	position: relative;
}
.widget_search form label,
.widget_search form #s,
.widget_search form #searchsubmit {
	margin: 0;
	position: absolute;
	top: 0;
}
.widget_search form label,
.widget_search form #s {
	font-family: Titillium600, Helvetica, Arial, Verdana, sans-serif;
	font-size: 16px;
}
.widget_search form label {
	left: 0;
	margin-top: 3px;
	padding: 0 10px;
	width: 255px;
	z-index: 10;
}
.widget_search form #s {
	background: none;
	border: 0;
	left: 0;
	margin-top: 5px;
	padding: 0 8px;
	position: absolute;
	top: 0;
	width: 255px;
}
.widget_search form #searchsubmit {
	background: url('../img/search-icon.png') center center no-repeat;
	border: 0;
	border-left: 1px solid #fff;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 28px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: center;
	text-indent: -9999px;
	top: 0;
	width: 34px;
}

/** Attachment Page
 -------------------------------------------------- */
.attachment-content,
.attachment-next,
.attachment-prev {
	float: left;
	overflow: hidden;
}
.attachment-header,
.attachment-content {
	width: 650px;
}
.attachment-header {
	margin: 0 auto;
}
.attachment-header p {
	margin-top: 0;
}
.attachment-content {
	margin: 0 20px 40px 20px;
}
.attachment-excerpt {
	color: #666;
	font-size: .9em;
}
.attachment-next,
.attachment-prev {
	min-height: 20px;
	width: 150px;
}
.attachment-prev {
	text-align: left;
}
.attachment-next {
	text-align: right;
}
.attachment-next a,
.attachment-prev a,
.attachment-next a img,
.attachment-prev a img {
	display: block;
}
.attachment-next a:hover,
.attachment-prev a:hover {
	border-bottom-color: #999;
 	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.attachment-next a img,
.attachment-prev a img {
	border-bottom: 1px solid #fff;
}


/** Footer
 -------------------------------------------------- */
#footer {
	clear: both;
	font-size: 12px;
	line-height: 18px;
	padding: 35px 0;
}
#footer .credit {
	float: right;
}
#footer a {
	color: #fff;
}
#footer a:hover {
	text-decoration: underline;
}
#footer p {
	margin: 0;
}