/* ------------------------------------------------------
iPad Portrait, Landscape and large screen.

This file should NOT be included in built styles when in production mode.
Instead, it should be linked to twice:

	For modern browsers link with the following media query @media screen and (min-width: 1010px) but do it witin a !IE conditional comment.

	For IE, link it @media screen within an lte IE9 conditional comment.

Breakpoint:
iPad (portrait) / Screen	768
iPad (landscape) / Screen	1024
------------------------------------------------------ */

.container {
	width: 990px;
}

#featured-post-2,
#featured-post-3 {
	margin-left: 30px;
}

.featured-description,
.featured:hover .featured-description {
	display: block;
}

/* Posts */
.single .post-media {
	padding-left: 140px;
}

/* Shared styles for media post formats */
.single .format-image .post-content,
.single .format-gallery .post-content,
.single .format-video .post-content {
	width: 680px;
}
.single-format-image #social,
.single-format-gallery #social,
.single-format-video #social {
	width: 850px;
	margin-left: 0px;
}

#primary,
#secondary {
	display: inline; /* Double-margin float bug fix */
	float: left;
	height: auto !important;
	height: 1px;
	min-height: 1px;
}

#primary {
	width: 650px;
	margin: 0 30px 0 0;
}

#secondary {
	width: 310px;
}

.sidebar {
	float: none;
	margin-left: 0;
	width: auto;
}
#secondary-full .sidebar {
	float: left;
	margin-left: 30px;
	width: 310px;
}
#secondary-full #sidebar-1 {
	margin-left: 0;
}

#header .container {
	padding-top: 40px;
}
#header h1 {
	float: left;
}
#nav-main {
	float: right;
	padding-top: 9px;
}
#nav-main ul {
	text-align: right;
}