/* --------------------------------------------------
Mobile styles
This file should be included in the built CSS output when in production mode.

Breakpoints:
iPhone (portrait)			320
iPhone (landscape)			480
iPad (portrait)				768
-------------------------------------------------- */

/* iPhone portrait and landscape shared edge-case styles */
@media only screen and (max-width: 767px) {
	.format-status .post-header,
	.format-quote .post-header {
		float: none;
		width: auto;
		padding-top: 0;
	}
	
	/* Override h1 hiding when in menu mode */
	#nav-main h1 {
		position: static;
		left: auto;
	}
	#nav-main .menu {
		border: 3px solid transparent;
		border-top: 0;
		/* bg and border colors set in header */
		-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
		-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
		box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
		/* Hide until activated */
		display: none;
		left: -3px;
		padding: 4px 0;
		position: absolute;
		right: -3px;
		z-index: 999;
	}
	#nav-main .menu.open {
		display: block;
	}
	#nav-main .menu li {
		display: block;
		margin: 0;
	}
	#nav-main a,
	#nav-main li.current-menu-item > a {
		padding: 4px 10px;
	}

	/* Reset dropdowns */
	#nav-main .menu > li {
		height: auto;
	}
	#nav-main .sub-menu {
		border: 0;
		-moz-box-shadow: none; /* FF3.5+ */
		-webkit-box-shadow: none; /* Saf3+, Chrome */
		box-shadow: none; /* Standard. Opera 10.5, IE9 */
		display: block;
		font-family: Titillium600, Helvetica, Arial, Verdana, sans-serif;
		position: static;
		top: auto;
		text-transform: uppercase;
		right: auto;
		width: auto;
	}
	#nav-main .sub-menu {
		padding-left: 16px;
	}
	#nav-main .sub-menu li.current-menu-item > a {
		border: 0;
	}

	#nav-main h1 {
		border-bottom: 3px solid transparent;
		display: inline-block; /* Standard. IE8+, Saf, FF3+ */
		height: 20px;
	}
	
	#masthead {
		padding: 11px 0 15px;
	}
	
	#social .social-identity {
		padding-left: 50px;
	}
	
	#social .social-nav .social-wordpress a span,
	#social .social-nav .social-twitter a span,
	#social .social-nav .social-facebook a span,
	#social .social-nav .social-pingback a span,
	#social .social-comment-collapse .social-posted-when {
		display: none;
	}
	
	#social input.social-input,
	#social .social-select {
		padding: 5px 6px;
		width: 96%;
	}
	#social .social-input-row,
	#social .form-submit {
		padding-left: 0;
	}
	#social .social-input-row .social-label {
		position: static;
		text-align: left;
		width: auto;
	}
}

/* iPhone portrait */
@media only screen and (max-width: 479px) {
	.container {
		width: 300px;
	}
	/* Hide last 2 by default (brought back in with media queries) */
	#featured-post-2,
	#featured-post-3 {
		display: none;
	}
	.gallery-thumbs {
		width: 310px;
	}
	.gallery-thumbs li {
		height: 52px; /* 63px */
		width: 67px; /* 80px */
	}
	
	.featured {
		height: 164px;
		width: 300px;
	}
	.featured.has-featured-img,
	.featured.featured-format-gallery {
		border: 0;
		height: 174px;
	}
	.featured .gallery-img-excerpt li {
		height: 87px;
	}
}

/* iPhone Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		width: 460px;
	}
	
	/**
	 * Modify post galleries (3 col)
	 */
	.post .gallery-img-excerpt li {
		width: 146px;
		margin: 0 0 7px 0;
	}
	.post .gallery-img-excerpt li.gallery-view-all a {
		height: 109px;
		line-height: 109px;
	}
	.post .gallery-img-excerpt .excerpt-img-7 {
		display: block;
	}
	.post .gallery-img-excerpt .excerpt-img-1,
	.post .gallery-img-excerpt .excerpt-img-2,
	.post .gallery-img-excerpt .excerpt-img-4,
	.post .gallery-img-excerpt .excerpt-img-5,
	.post .gallery-img-excerpt .excerpt-img-7,
	.post .gallery-img-excerpt .gallery-view-all {
		margin-left: 10px;
	}
	.post .gallery-img-excerpt .excerpt-img-0,
	.post .gallery-img-excerpt .excerpt-img-3,
	.post .gallery-img-excerpt .excerpt-img-6 {
		margin-left: 0;
	}
	
	.gallery-thumbs {
		width: 470px;
	}
	.gallery-thumbs li {
		width: 84px;
		height: 66px;
	}
	
	.featured {
		height: 118px;
		margin-left: 15px;
		width: 222px;
	}
	.featured.has-featured-img,
	.featured.featured-format-gallery {
		height: 128px;
	}
	.featured-description, 
	.featured-description p {
		font-size: 12px;
		line-height: 17px;
	}
	.featured .gallery-img-excerpt li {
		height: 64px;
	}
	#featured-post-3 {
		display: none;
	}
	
	.widget.bio-box {
		margin: 0 auto 30px;
		max-width: 310px;
	}
}