/* --------------------------------------------------
Tablet styles.
Dialed in for iPad in portrait mode, since in landscape mode large screen will suffice.

This file should be included in built css file when in production mode.

Breakpoint:
iPad (portrait)				768
------------------------------------------------------ */

@media only screen and (min-width: 768px) and (max-width: 1009px) {
	.container,
	#primary,
	#secondary {
		width: 708px;
	}
	
	/* Masthead */
	#masthead {
		padding: 16px 0 20px;
	}
	.featured {
		height: 120px;
		width: 226px;
	}
	#featured-post-2,
	#featured-post-3 {
		margin-left: 15px;
	}
	.featured.has-featured-img,
	.featured.featured-format-gallery {
		height: 130px;
	}
	.featured .gallery-img-excerpt li {
		height: 65px;
	}
	.featured-title {
		font-size: 16px;
		line-height: 18px;
	}
	
	/* entry content */
	.entry-content {
		width: 568px;
	}
	.single .format-image .entry-content,
	.single .format-gallery .entry-content,
	.single .format-video .entry-content {
		width: 568px;
		margin-right: 0;
	}	
	
	/* media-big-screen.css overrides */
	.single .entry-media {
		padding-right: 0px;
	}
	
	/* gallery posts */
	.post .gallery-img-excerpt li {
		margin: 0 0 12px;
		width: 130px;
	}
	.post .gallery-img-excerpt li.gallery-view-all a {
		height: 97px;
		line-height: 97px;
	}
	.post .gallery-img-excerpt .excerpt-img-7 {
		display: none;
	}
	.post .gallery-img-excerpt .excerpt-img-1,
	.post .gallery-img-excerpt .excerpt-img-2,
	.post .gallery-img-excerpt .excerpt-img-3,
	.post .gallery-img-excerpt .excerpt-img-5,
	.post .gallery-img-excerpt .excerpt-img-6,
	.post .gallery-img-excerpt .gallery-view-all {
		margin-left: 15px;
	}
	.post .gallery-img-excerpt .excerpt-img-0,
	.post .gallery-img-excerpt .excerpt-img-4 {
		margin-left: 0;
	}
	.single-format-gallery .entry-media {
		left: -1px;
		position: relative;
	}
	.gallery-thumbs li {
		width: 80px;
		height: 63px;
	}
	
	
	/* Sidebars */
	#secondary {
		margin-top: 60px;
	}
	.sidebar,
	#secondary-full .sidebar {
		float: left;
		margin-left: 15px;
		width: 226px;
	}
	.widget .bio-box-gallery {
		height: auto;
	}
	#sidebar-1,
	#secondary-full #sidebar-1 {
		margin-left: 0;
	}
		
	/* Let's pull things off the side */
	.page-full .alignleft.pull {
		margin-left: -140px;
	}
	.page-full .alignright.pull {
		margin-right: -140px;
	}

 	/* social */
 	.single-format-image #social,
 	.single-format-gallery #social,
 	.single-format-video #social {
 		width: auto;
 	}
	
	.gallery-stage {
		width: 530px;
	}
}