/** @section Utils
 -------------------------------------------------- */

/* Port social clearfix styles to allow them to work */
#social .social-clearfix:before,
#social .social-clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}
#social .social-clearfix:after {
	clear: both;
}
#social .social-clearfix {
	zoom: 1;
}

#social .social-help,
#social .social-psst {
	font-size: 13px;
	color: #999;
}

#social .social-imr {
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	text-indent: -32000px;
}

/** @section Form
 -------------------------------------------------- */

#respond {
	padding-bottom: 18px;
}
#commentform {
	margin-bottom: 10px;
}
/* Threaded form */
.social-commentlist #respond {
	border-bottom: 1px solid #ddd;
}

/* Comment bar */
#social #reply-title,
#social .comments-title,
#social .nocomments {
	height: 27px;
	margin-bottom: 16px;
	padding: 0 10px;
	font-size: 13px;
	line-height: 30px;
	letter-spacing: 1px;
	margin: 0 0 10px;
	text-transform: uppercase;
}
#social .nocomments {
		display: block;
		font-family: 'Titillium600', Helvetica, Arial, Verdana, sans-serif;
		text-align: center;
}
#social #reply-title #cancel-comment-reply-link {
	font: 12px/30px Helvetica, Arial, Verdana;
	margin-left: 6px;
	text-transform: none;
}

#social .social-input-row,
#social .form-submit {
	margin-bottom: 10px;
	position: relative;
}

#social input.social-input,
#social .social-select {
	width: 320px;
}

#social .social-input-row,
#social .form-submit {
	padding-left: 140px;
}
#social .social-input-row .social-label {
	left: 0;
	position: absolute;
	text-align: right;
	top: 7px;
	width: 120px;
}
#social input.social-input,
#social .social-select {
	width: 320px;
}
#social .social-identity .avatar {
	left: 80px;
}

/* Threaded input row */
#social .social-commentlist .social-input-row,
#social .social-commentlist .form-submit {
	padding-left: 0;
}

#social .social-input-row .social-label {
	color: #666;
	display: block;
	font-size: 13px;
	padding-right: 20px;
}

/* Threaded label */
#social .social-commentlist .social-input-row .social-label {
	position: static;
	text-align: left;
	width: auto;
}

#social .social-input,
#social .social-select {
	background: #f8f8f8;
	border: 1px solid #ddd;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
}
#social .social-text {
	margin-right: 5px;
}

#social .social-input {
	margin-right: 5px;
}
#social input.social-input,
#social .social-select {
	width: 290px;
}

#social textarea.social-input {
	display: block;
	height: 110px;
	padding: 5px 6px;
	width: 96%;
}

/* Submit button and row */
#social .form-submit {
	height: 30px;
	line-height: 30px;
}
#social #submit {
	border: 0;
	color: #fff;
	cursor: pointer;
	display: block;
	float: left;
	font-family: Titillium600, Helvetica, Arial, Verdana, sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 1em;
	margin: 0 10px 0 0;
	padding: 8px 20px 6px 20px;
	text-transform: uppercase;
}

/* Log in buttons */
#social .social-sign-in-links {
	display: block;
	margin: 20px 0;
	text-align: center;
}
#social .social-commentlist .social-sign-in-links {
	padding-left: 0;
}
#social .social-sign-in-links a {
	color: #fff;
	background-image: url(../img/comment-icons-sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	margin: 4px 8px 0 8px;
	padding-left: 35px;
	padding-right: 10px;
	text-indent: 0;
	text-align: center;
}
#social #twitter_signin {
	background-position: 0px -100px;
}
#social #facebook_signin {
	background-position: 0px -150px;
}

#social .social-divider {
	background: url(../img/strike-through.gif) 0 50% repeat-x;
	margin: 15px 0;
	text-align: center;
}
#social .social-divider span {
	background-color: #fff;
	padding: 0 6px;
	margin-left: 20px; /* visual adjustment to line up with buttons */
	font-family: Titillium600, Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 1em;
	text-transform: uppercase;
}

/* Threaded divider */
#social .social-commentlist #respond .social-divider {
	display: none;
}

#social .social-identity {
	margin-top: 16px;
	position: relative;
}
#social .social-identity .avatar {
	left: 0px;
	position: absolute;
	top: 4px;
}
.logged-in #social .social-commentlist .social-identity .avatar {
	left: -60px;
}

/* When logged in, visually hide the comment field label
but allow screen readers to see */
.logged-in #social .social-input-row-comment .social-label {
	left: -32000px;
	position: absolute;
}

/** @section Comment Tabs
 -------------------------------------------------- */

#social .social-post-form {
	margin-bottom: 30px;
}
#social .social-nav {
	padding: 1px 0;
}
#social .social-nav,
#social .social-nav li {
	list-style: none;
	margin: 0;
}
#social .social-nav li {
	float: left;
	margin-right: 20px;
	padding: 0;
}
#social .social-nav li a,
#social .social-nav li a span {
	display: block;
	height: 25px;
	line-height: 26px;
}
#social .social-nav .social-all a span {
	line-height: 28px;
}
#social .social-nav li a span {
	padding-left: 5px;
}
#social .social-nav li a {
	background-image: url(../img/comment-icons-sprite.png);
	background-repeat: no-repeat;
	padding-left: 25px;
}
#social .social-nav .social-all {
	font: normal 13px Titillium600, Helvetica, Arial, Verdana, sans-serif;
	line-height: 30px;
	text-transform: uppercase;
	padding-left: 10px;
}
#social .social-nav .social-all a {
	background: none;
	display: inline;
	padding: 0;
}
#social .social-nav .social-wordpress a {
	background-position: 0px -50px;
}
#social .social-nav .social-twitter a {
	background-position: 0px -100px;
}
#social .social-nav .social-facebook a {
	background-position: 0px -150px;
}
#social .social-nav .social-pingback a {
	background-position: 0px -200px;
}

/** @section Comment List
 -------------------------------------------------- */

#social .social-last-reply-when {
	display: none;
}

#social .social-commentlist {
	line-height: 18px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0 0 30px 0;
	padding: 0;
}

/* Children Comments
 * .social-children is for plugin
 * .children without plugin
 */
#social .children,
#social .social-children {
	margin: 0;
	padding: 0 0 0 15px;
}
#social .children li,
#social .social-children li {
	list-style: none;
	padding: 0;
}

/** @section Comment
 -------------------------------------------------- */

#social .social-posted-when,
#social .social-actions a,
#social .social-actions {
	color: #666;
	font-size: 11px;
}
#social .social-comment {
	border: 0;
	margin: 0;
	position: relative;
}
#social .social-comment-inner {
	border-bottom: 1px solid #ddd;
	margin: 0;
	padding: 20px 0 20px 40px;
	position: relative;
}
#social .social-comment .social-comment-header {
	position: static;
}
#social .social-comment .social-comment-header .social-replied {
	display: none;
}
#social .social-comment .social-comment-header .social-fn {
	display: block;
	font-style: normal;
}
#social .social-comment .social-comment-header .avatar {
	height: 30px;
	left: 0;
	position: absolute;
	top: 23px;
	width: 30px;
}
#social .social-posted-when {
	bottom: 15px;
	position: absolute;
}
#social .social-posted-from {
	background-color: #ddd;
	background-image: url(../img/comment-icons-sprite.png);
	background-repeat: no-repeat;
	height: 16px;
	position: absolute;
	overflow: hidden;
	right: 0;
	text-indent: -32000px;
	top: 20px;
	width: 16px;
}
#social .social-posted-from a {
	display: block;
	height: 16px;
	width: 16px;
}
#social .social-wordpress .social-posted-from {
	background-position: 0px 0px;
}
#social .social-twitter .social-posted-from {
	background-position: -50px 0px;
}
#social .social-facebook .social-posted-from {
	background-position: -100px 0px;
}
#social .social-pingback .social-posted-from {
	background-position: -150px 0px;
}

/* Social Comment Pingback Styles */
#social .social-pingback .social-comment-header .social-comment-label {
	color: #b5b5b5;
	display: none;
}
#social .social-pingback .social-comment-header .social-fn {
	margin-bottom: 5px;
}


#social .social-actions {
	display: none;
	bottom: 15px;
	margin: 0;
	position: absolute;
	right: 0;
}
#social .social-comment:hover .social-actions {
	display: block;
}
#social .social-comment .social-comment-body {
	overflow: hidden;
	padding: 0 15px 12px 0;
	width: auto;
}
#social .social-comment .social-comment-body p {
	margin: 0 0 8px 0;
	padding-right: 30px;
}
#social .comment-awaiting-moderation {
	display: inline-block;
	padding: 1px 4px;
	margin-bottom: 8px;
}

/* Comment Collapse */
#social .social-comment-collapse > .social-comment-inner > .social-comment-body,
#social .social-comment-collapse > .social-comment-inner > .social-actions {
	display: none;
}
#social .social-comment-collapse .social-children {
	padding-left: 16px;
}
#social .social-comment-collapse > .social-comment-inner {
	padding: 10px 0 10px 26px;
}
#social .social-comment-collapse > .social-comment-inner > .social-comment-header {
	filter:alpha(opacity=50);
	opacity: .5;
}
#social .social-comment-collapse > .social-comment-inner > .social-comment-header .social-fn {
	font-size: 12px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#social .social-pingback.social-comment-collapse .social-fn {
	display: none;
}
#social .social-comment-collapse > .social-comment-inner > .social-comment-header > .social-comment-author {
	padding: 0 24px 0 0;
}
#social .social-comment-collapse > .social-comment-inner > .social-comment-header > .social-comment-author img {
	height: 16px;
	left: 0;
	top: 10px;
	width: 16px;
}
#social .social-comment-collapse .social-posted-from {
	top: 10px;
}