/* --------------------------------------------------
Structure - This file handles floats, layout and responsive elements.

Percentages are calculated by taking the target number of
pixels and dividing by the container size.

target/context = %

Breakpoints:
iPhone (portrait)			320
iPhone (landscape)			480
iPad (portrait)				768
iPad (landscape) / Screen	1024
-------------------------------------------------- */

#featured-post-2,
#featured-post-3 {
	display: none;
}

.container {
	margin: 0 auto;
	width: 300px;
}

/* iPhone portrait and landscape special edge-case styles */
@media screen and (max-width: 768px) {
	#nav-main .menu {
		border: 3px solid transparent;
		border-top: 0;
		/* bg and border colors set in header */
		-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
		-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
		box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
		display: none;
		left: -3px;
		padding: 4px 0;
		position: absolute;
		right: -3px;
		z-index: 999;
	}
	#nav-main a {
		padding: 4px 10px;
	}
	#nav-main .sub-menu a {
		padding-left: 16px;
	}
	#social .social-identity {
		padding-left: 50px;
	}
}

/* iPhone Landscape */
@media screen and (min-width: 480px) {
	.container {
		width: 460px;
	}
	
	/**
	 * Modify post galleries (3 col)
	 */
	.post .gallery-img-excerpt li {
		width: 146px;
		margin: 0 0 7px 0;
	}
	.post .gallery-img-excerpt li.gallery-view-all a {
		height: 109px;
		line-height: 109px;
	}
	.post .gallery-img-excerpt .excerpt-img-7 {
		display: block;
	}
	.post .gallery-img-excerpt .excerpt-img-1,
	.post .gallery-img-excerpt .excerpt-img-2,
	.post .gallery-img-excerpt .excerpt-img-4,
	.post .gallery-img-excerpt .excerpt-img-5,
	.post .gallery-img-excerpt .excerpt-img-7,
	.post .gallery-img-excerpt .gallery-view-all {
		margin-left: 10px;
	}
	.post .gallery-img-excerpt .excerpt-img-0,
	.post .gallery-img-excerpt .excerpt-img-3,
	.post .gallery-img-excerpt .excerpt-img-6 {
		margin-left: 0;
	}
	
	.featured {
		float: left;
		height: 118px;
		margin-left: 15px;
		width: 222px;
	}
	.featured.has-featured-img,
	.featured.featured-format-gallery {
		height: 128px;
	}
	.featured-title {
		font-size: 16px;
		line-height: 18px;
		padding: 6px 13px 4px;
	}
	.featured-description, 
	.featured-description p {
		font-size: 12px;
		line-height: 17px;
	}
	.featured .gallery-img-excerpt li {
		height: 64px;
	}
	#featured-post-1,
	#featured-post-2 {
		display: block;
	}
	#featured-post-1 {
		margin-left: 0;
	}
	
	#masthead {
		padding: 11px 0 15px;
	}
	#nav-main .sub-menu li.current-menu-item > a {
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
	}
	
}

/* iPad Portrait */
@media screen and (min-width: 768px) {
	.container {
		width: 708px;
	}
	
	/* Put post info in an empty left-hand column */
	.post-title,
	.post-media,
	.post-content {
		margin-left: 140px;
	}
	.post-date,
	.post-meta,
	.post-meta p {
		display: block;
	}
	.post-date {
		left: 0;
		line-height: 30px;
		letter-spacing: -1px;
		position: absolute;
		text-align: right;
		top: 4px;
		width: 120px;
	}
	.home .post-date,
	.archive .post-date {
		top: 0;
	}
	.post-meta {
		float: left;
		padding-top: 3px;
		text-align: right;
		width: 120px;
	}
	.post-header .post-meta {
		padding-top: 8px;
	}
	
	.post .gallery-img-excerpt li {
		margin: 0 0 12px;
		width: 130px;
	}
	.post .gallery-img-excerpt li.gallery-view-all a {
		height: 97px;
		line-height: 97px;
	}
	.post .gallery-img-excerpt .excerpt-img-7 {
		display: none;
	}
	.post .gallery-img-excerpt .excerpt-img-1,
	.post .gallery-img-excerpt .excerpt-img-2,
	.post .gallery-img-excerpt .excerpt-img-3,
	.post .gallery-img-excerpt .excerpt-img-5,
	.post .gallery-img-excerpt .excerpt-img-6,
	.post .gallery-img-excerpt .gallery-view-all {
		margin-left: 15px;
	}
	.post .gallery-img-excerpt .excerpt-img-0,
	.post .gallery-img-excerpt .excerpt-img-4 {
		margin-left: 0;
	}
	
	.single-format-gallery .post-media {
		left: -1px;
		position: relative;
	}
	
	.featured {
		height: 120px;
		width: 226px;
	}
	.featured.has-featured-img,
	.featured.featured-format-gallery {
		height: 130px;
	}
	.featured .gallery-img-excerpt li {
		height: 65px;
	}
	#featured-post-3 {
		display: block;
	}
	
	#masthead {
		padding: 16px 0 20px;
	}
	
	#header .container {
		padding-top: 30px;
	}
	#nav-main .menu {
		background: transparent !important;
		display: block;
	}
	/**
	 * Visually hide h1 in header when in menu mode
	 * Leave it readable by screen readers for accessibility.
	 */
	#nav-main h1 {
		position: absolute;
		left: -999em;
	}
	#nav-main li {
		border-bottom: 3px solid transparent;
		display: inline-block;
		height: 20px;
		margin: 10px 0 0 20px;
		padding: 0;
		position: relative;
	}
	/* inline block fix for IE6 and IE7 */
	html.ie6 #nav-main li,
	html.ie6 #nav-main a,
	html.ie7 #nav-main li,
	html.ie7 #nav-main a {
		display: inline;
		zoom: 1;
	}
	#nav-main li {
		border-bottom: 3px solid transparent;
	}
	
	/* Dropdown Menus */
	#nav-main .sub-menu {
		border: 3px solid transparent;
		border-top: 0;
		/* bg and border colors set in header */
		box-shadow: 0 2px 2px rgba(0,0,0,0.4);
		-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
		-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
		display: none;
		font-family: Helvetica, Arial, Verdana, sans-serif;
		right: -3px;
		padding: 5px 0 3px 0;
		position: absolute;
		text-align: left;
		text-transform: none;
		top: 23px;
		min-width: 140px;
		width: 120%;
		z-index: 99999;
	}
	#nav-main .sub-menu li {
		display: block;
		height: auto;
		margin: 3px 0;
		padding: 0;
	}

	#nav-main .sub-menu a {
		display: block;
		font-weight: normal;
		height: auto;
		letter-spacing: 0;
		line-height: 1.2em;
		padding: 4px 10px;
	}
	#nav-main li:hover > .sub-menu {
		display: block;
	}
	#nav-main ul ul li.current-menu-item > a {
		padding-left: 7px;
		padding-right: 7px;
	}
	
	.sidebar {
		float: left;
		margin-left: 15px;
		width: 226px;
	}
	#sidebar-1 {
		margin-left: 0;
	}
	
	#footer .credit {
		float: right;
	}
	
	
	/* Social */
	#social .social-comment {
		padding: 0 0 0 140px;
	}
	#social .social-comment-inner {
		padding: 20px 0;
	}
	#social .social-comment-collapse > .social-comment-inner {
		padding: 10px 0;
	}
	#social .social-comment .social-comment-header {
		float: left;
		margin: 0 0 0 -140px;
		width: 120px;
	}
	#social .social-comment .social-comment-header .avatar {
		bottom: 0;
		left: auto;
		right: 0;
		top: auto;
	}
	#social .social-comment .social-comment-header .social-comment-author {
		position: relative;
		margin: 0;
		padding-bottom: 33px;
		text-align: right;
	}
	#social .social-posted-when {
		left: 0;
	}
	
	#social .social-comment-collapse > .social-comment-inner > .social-comment-header > .social-comment-author img {
		left: auto;
		right: 0;
		top: 0;
	}
	#social .social-comment-collapse .social-posted-when {
		display: block;
		font-size: 13px;
		bottom: 10px;
	}
	
	/* Threading */
	#social .children,
	#social .social-children {
		padding: 0 0 0 50px;
	}
	
	/* Social form */
	#social input.social-input,
	#social .social-select {
		width: 320px;
	}
	
	#social .social-input-row,
	#social .form-submit {
		padding-left: 140px;
	}
	#social .social-input-row .social-label {
		left: 0;
		position: absolute;
		text-align: right;
		top: 7px;
		width: 120px;
	}
	#social input.social-input,
	#social .social-select {
		width: 320px;
	}
	#social .social-identity .avatar {
		left: 80px;
	}
	#social .social-nav .social-all {
		text-align: right;
		width: 110px;
	}
	#social .social-nav .social-wordpress a span,
	#social .social-nav .social-twitter a span,
	#social .social-nav .social-facebook a span,
	#social .social-nav .social-pingback a span {
		display: block;
	}
}

/* iPad Landscape and large screen */
@media screen and (min-width: 1010px) {
	.container {
		width: 990px;
	}
	
	.featured {
		height: 170px;
		width: 310px;
	}
	.featured.has-featured-img,
	.featured.featured-format-gallery {
		height: 180px;
	}
	.featured-title {
		font-size: 18px;
		line-height: 20px;
	}
	.featured-description, 
	.featured-description p {
		font-size: 14px;
		line-height: 20px;
	}
	.featured .gallery-img-excerpt li {
		height: 90px;
	}
	
	#featured-post-2,
	#featured-post-3 {
		margin-left: 30px;
	}

	.featured-description,
	.featured:hover .featured-description {
		display: block;
	}
	
	.post .gallery-img-excerpt li {
		width: 160px;
	}
	.post .gallery-img-excerpt li.gallery-view-all a {
		height: 120px;
		line-height: 120px;
	}
	.post .gallery-img-excerpt .excerpt-img-7 {
		display: block;
	}
	.post .gallery-img-excerpt .excerpt-img-1,
	.post .gallery-img-excerpt .excerpt-img-2,
	.post .gallery-img-excerpt .excerpt-img-4,
	.post .gallery-img-excerpt .excerpt-img-5,
	.post .gallery-img-excerpt .excerpt-img-7,
	.post .gallery-img-excerpt .gallery-view-all {
		margin-left: 15px;
	}
	.post .gallery-img-excerpt .excerpt-img-0,
	.post .gallery-img-excerpt .excerpt-img-3,
	.post .gallery-img-excerpt .excerpt-img-6 {
		margin-left: 0;
	}
	
	.single .post-media {
		padding-left: 140px;
	}
	
	/* Shared styles for media post formats */
	.single .format-image .post-content,
	.single .format-gallery .post-content,
	.single .format-video .post-content {
		width: 680px;
	}
	.single-format-image #social,
	.single-format-gallery #social,
	.single-format-video #social {
		width: 850px;
		margin-left: 0px;
	}
	
	#primary,
	#secondary {
		display: inline; /* Double-margin float bug fix */
		float: left;
		height: auto !important;
		height: 1px;
		min-height: 1px;
	}
	
	#primary {
		width: 650px;
		margin: 0 30px 0 0;
	}
	
	#secondary {
		width: 310px;
	}
	
	.sidebar {
		float: none;
		margin-left: 0;
		width: auto;
	}
	#secondary-full .sidebar {
		float: left;
		margin-left: 30px;
		width: 310px;
	}
	#secondary-full #sidebar-1 {
		margin-left: 0;
	}
	
	#header .container {
		padding-top: 40px;
	}
	#header h1 {
		float: left;
	}
	#nav-main {
		float: right;
		padding-top: 9px;
	}
	#nav-main ul {
		text-align: right;
	}
	#masthead {
		padding: 36px 0 41px 0; /* top = 40px with header border */
	}
}