/* --------------------------------------------------
Structure - This file handles floats, layout and responsive elements.

Percentages are calculated by taking the target number of
pixels and dividing by the container size.

target/context = %

Breakpoints:
iPhone (portrait)			320
iPhone (landscape)			480
iPad (portrait)				768
iPad (landscape) / Screen	1024
-------------------------------------------------- */

#featured-post-2,
#featured-post-3 {
	display: none;
}

.featured {
	margin-left: 15px;
}
.featured .gallery-img-excerpt li {
	float: left;
	width: 50%;
}

@media screen and (min-width: 480px) {
	.container {
		width: 460px;
		margin: 0 auto;
/*		overflow: hidden;
*/	}
	
	.featured {
		float: left;
		height: 140px;
		width: 222px;
	}
	.featured .gallery-img-excerpt li {
		height: 70px;
	}
	#featured-post-1,
	#featured-post-2 {
		display: block;
	}
	#featured-post-1 {
		margin-left: 0;
	}
}

@media screen and (min-width: 768px) {
	.container {
		width: 708px;
	}
	
	.featured {
		height: 140px;
		width: 226px;
	}
	.featured .gallery-img-excerpt li {
		height: 70px;
	}
	
	#featured-post-3 {
		display: block;
	}

	.post .gallery-img-excerpt li {
		float: left;
		width: 130px;
		margin: 0 0 15px 15px;
	}
	.post .gallery-img-excerpt li.excerpt-img-0,
	.post .gallery-img-excerpt li.excerpt-img-4 {
		margin-left: 0;
	}
	.post .excerpt-img-7 {
		display: none;
	}
	.post .gallery-img-excerpt li.gallery-view-all a {
		height: 97px;
		line-height: 97px;
	}
	
	#masthead {
		padding: 26px 0 31px;
	}
	
	.sidebar {
		float: left;
		margin-left: 15px;
		width: 226px;
	}
	#sidebar-1 {
		margin-left: 0;
	}
}
@media screen and (min-width: 1010px) {
	.container {
		width: 990px;
	}
	
	.featured {
		height: 180px;
		width: 310px;
	}
	.featured .gallery-img-excerpt li {
		height: 90px;
	}
	
	#featured-post-2,
	#featured-post-3 {
		margin-left: 30px;
	}
	
	.post .gallery-img-excerpt li {
		width: 160px;
	}
	.post .gallery-img-excerpt li.excerpt-img-0,
	.post .gallery-img-excerpt li.excerpt-img-3,
	.post .gallery-img-excerpt li.excerpt-img-6 {
		margin-left: 0;
	}
	/* Re-instate display and margins removed in iPad portrait breakpoint */
	.post .excerpt-img-7 {
		display: block;
	}
	.post .gallery-img-excerpt li.excerpt-img-4 {
		margin-left: 15px;
	}
	.post .gallery-img-excerpt li.gallery-view-all a {
		height: 120px;
		line-height: 120px;
	}
	
	
	#primary,
	#secondary {
		display: inline; /* Double-margin float bug fix */
		float: left;
		height: auto !important;
		height: 1px;
		min-height: 1px;
	}
	
	#primary {
		width: 650px;
		margin: 0 30px 0 0;
	}
	
	#secondary {
		width: 310px;
	}
	
	.sidebar {
		float: none;
		margin-left: 0;
		width: auto;
	}
	#secondary-full .sidebar {
		float: left;
		margin-left: 30px;
		width: 310px;
	}
	#secondary-full #sidebar-1 {
		margin-left: 0;
	}
	
	#masthead {
		padding: 36px 0 41px 0; /* top = 40px with header border */
	}
}