/* --------------------------------------------------
 * Standard / Utility Classes
-------------------------------------------------- */

/* edit-link */
.post {
	position: relative;
}
.post .edit-link {
	display: none;
	position: absolute;
	top: 5px;
	left: 0;
}
.edit-link a {
	background: #666 url(../img/edit-icon.png) 0 0 no-repeat;
	display: block;
	float: right;
	height: 20px;
	overflow: hidden;
	text-align: left;
	text-indent: -9999px;
	width: 20px;
}
.post:hover .edit-link {
	display: inline;
}

/* alignment */
.center {
	text-align: center;
}

/* Archive */
.archive {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Pagination */
.pagination {
	min-height: 20px;
	margin-top: 40px;
}
.pagination .prev,
.pagination .next {
	display: block;
	line-height: 1.2em;
	width: 48%;
}
.pagination .next {
	float: right;
	text-align: right;
}
.home .pagination {
	margin-top: 60px;
}

/* Tooltip */
.tooltip {
	color:#fff;
	position:absolute;
	left:-2000px;
	line-height: 1em;
	background-color:#222;
	max-width: 140px;
	padding:8px 12px;
}
.tooltip p {
	margin:0;
	padding:0;
}

/** WordPress compatibility styles
 --------------------------------------------------------------- */
.alignleft,
.alignright {
	margin-top: 4px;
}
.alignleft {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}
.alignright {
	float: right;
	margin-left: 20px;
	margin-bottom: 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/**
 * Captioned images
 * Caption shortcode filtered.
 */
.wp-caption {
	overflow: hidden;
	position: relative;
}
.wp-caption dt {
	margin: 0;
}
.wp-caption img {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}
.wp-caption dd {
	font-size: .9em;
	padding: 2px 8px 3px 8px;
	margin: 1px 0 0 0;
}
img.wp-smiley {
	vertical-align: sub;
}
.sticky {
	/* Add styles here if you wish to callout sticky posts */
}

/* WP Gallery */
.gallery-item {
	float: left;
	margin: 0 15px 12px 0;
	text-align: center;
	width: 150px;
}
.gallery-item .gallery-icon {
	margin: 0;
}
.gallery-item .gallery-icon img {
	border-bottom: #fff solid 1px;
	display: block;
}
.gallery-item .gallery-icon a {
	border-bottom: #fff solid 2px;
	display: block;
}
.gallery-caption {
	color: #999;
	font-size: 0.9em;
}